In [4]:
# Import section
import cv2
import numpy as np
from os import scandir, getcwd, rename
import requests
import time
import json
import re
import pandas as pd

In [5]:
def get_cnn_value_from_json(json_local):
    json.load(json_local)

def stringfy(classes):
    r = ""
    for i in classes:
        r += str(i)
    return r.strip()
def aciertos_from_str(real, est):
    count = 0
    for i in range(len(real)):
        if real[i]==est[i]:
            count += 1
    return count

def distance(str1, str2):
    d=dict()
    for i in range(len(str1)+1):
        d[i]=dict()
        d[i][0]=i
    for i in range(len(str2)+1):
        d[0][i] = i
    for i in range(1, len(str1)+1):
        for j in range(1, len(str2)+1):
            d[i][j] = min(d[i][j-1]+1, d[i-1][j]+1, d[i-1][j-1]+(not str1[i-1] == str2[j-1]))
    return d[len(str1)][len(str2)]

def improve(num, num_pred, scores):
    res = ""
    for i in range(len(str(num))):
        if scores[i] >= 9400:
            res += str(str(num)[i])
        else:
            res += str(str(num_pred)[i])
    return res

def has_letters(word):
    ret = True
    for c in word:
        if not ('0' <= c and c <= '9'):
            return not False
    return not True

def clean_letters(word):
    ret = ""
    for c in word:
        if ('0' <= c and c <= '9'):
            ret += str(c)
    return ret

def clean_real_dni(word):
    word = word.replace("-","")
    word = word.replace("O","0")
    word = word.replace("o","0")
    word = word.replace(" ","")
    return word

np_aciertos_from_str = np.vectorize(aciertos_from_str)
np_distance = np.vectorize(distance)
np_improve = np.vectorize(improve)
np_has_letters = np.vectorize(has_letters)

# REAL

In [6]:
m3100_real = pd.read_csv('D:\\GyS\\proyectos\\cuponesWong\\proceso_definitivo\\process\\muestra900\\levantamiento\\total.csv', dtype={'DNI':str, 'telefono':str})
m3100_real = m3100_real.fillna('')
m3100_real['NombreArchivo'] = m3100_real['nombre_archivo'].apply(lambda x: x[:-4])
m3100_real.head()

,Unnamed: 0,nombre_archivo,DNI,telefono,Observación,email,NombreArchivo
0,0,MarzoCompras_0202072019164448_00043.jpg,42650934,979754672,,Maicusi@hotmail.com,MarzoCompras_0202072019164448_00043
1,1,MarzoCompras_0202072019164454_00245.jpg,20996780,923540008,,,MarzoCompras_0202072019164454_00245
2,2,MarzoCompras_0202072019164458_00359.jpg,42051024,940445230,,jtrujillowong@outlook.com,MarzoCompras_0202072019164458_00359
3,3,MarzoCompras_0202072019164503_00537.jpg,40557762,987136744,,Micasu -80@Hotmail.com,MarzoCompras_0202072019164503_00537
4,4,MarzoCompras_0202072019164503_00546.jpg,08668202,995382267,,CAROLINA CM10_10@HOTMAIL.COM,MarzoCompras_0202072019164503_00546

# ESTIMADO

In [7]:
local = pd.read_csv('azure_result/azure_result_testing.csv', dtype={'DNI':str, 'Telefono':str})
local = local.fillna('')
# local = local[['idCupon','NombreArchivo']]

In [9]:
local = None

In [10]:
bd_azure = pd.read_csv('azure_result/azure_result_testing.csv', dtype={'DNI':str, 'telefono':str})
bd_azure = bd_azure.fillna('')

In [11]:
bd_azure.head(100)

,NombreArchivo,DNI,AcertividadDNI,Telefono,AcertividadTelefono,NombreCompleto,AcertividadNombreCompleto,Direccion,AcertividadDireccion,Distrito,AcertividadDistrito,Correo,AcertividadCorreo,AzureJsonOCR,idCampania,idUsuario,idEstado
0,MarzoCompras-0303072019121007_00008,100672966,75.000000,98233140,0.000000,rath,30.000,Av . Las Wauwtan # 246,71.250000,Chomilloy,60.0,karaujo710hohal,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
1,MarzoCompras-0303072019121007_00010,09883016,60.000000,946498591,72.000000,JUAN CARLOS SAlives AnDYA,67.500,AU. PERU N = 36 52,40.000000,SMP,90.0,mauricio2solsbholmail.am,72.857143,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
2,MarzoCompras-0303072019121007_00025,04015880,75.000000,92848937,0.000000,Jaime Roger Compos Benzospi,69.000,M Z H . LT. 12. HE. CAVIN DE HUONTAR.,71.428571,MILA EL SALVADOR.,70.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
3,MarzoCompras-0303072019121013_00265,09310742,70.000000,985973705,60.000000,Janet montero flores,66.000,Nelson Quia 415 A Opto 204,71.250000,Surco,60.0,"jalima9-yahoo,es",78.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
4,MarzoCompras-0303072019121014_00331,08281361,70.000000,949352892,72.000000,howyo Morteness,30.000,? Joven nuevo news 14 7 + late I comite y,60.000000,Son Juan ducesamcris,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
5,MarzoCompras-0303072019121014_00343,0740141,0.000000,536765,72.857143,TERESA HURTADO CASTILLO,69.000,COMA AU . 22 DE AGOSTO) 265,82.500000,Tere hurtado of inthe,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
6,MarzoCompras-0303072019121017_00450,DN09900151,0.000000,916881398,60.000000,Mariamilla Chauca Palomino,67.500,JR. FELIPE ARIAS 392,70.000000,J. M . P,82.5,"ims-0663@yahoo,es",90.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
7,MarzoCompras-0303072019121017_00459,08982279,67.500000,995327405,78.000000,MAND ANDCELLI GARCIA URBINA,60.000,Ja- L-DAT12 SALCEDO 124 CONDEVILLA,60.000000,SMP,90.0,nerologa@hotmail.com,75.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
8,MarzoCompras-0303072019121018_00497,45277490,67.500000,755211928,60.000000,SHERESNARDA RSA ACUNA YNGA,69.000,Jr. Garala zo de la lega # 414 - Sam Agustin,79.000000,woman,60.0,syay1526@hotmail.com,67.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
9,MarzoCompras-0303072019121018_00501,05333314,60.000000,999171709,60.000000,Marbely Beves Guerra,60.000,Date. 101A Unb- Los Libertadones any . GV LT. OF,66.250000,S. M. P.,80.0,nanditamanee@hotmail.,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
10,MarzoCompras-0303072019121019_00514,071546720,60.000000,973369286,60.000000,Wileid Diaz,39.000,Av Angelica Camore,30.000000,Jos Olivos,75.0,diazmarinb@gmail.com,70.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
11,MarzoCompras-0303072019121019_00540,73856082,75.000000,943033279,75.000000,Marck Andrea Hernandez NeGron,69.000,to la libertod MZ c LoTe 24 call a 4,75.000000,Sures,60.0,marrelaodg46mall.con,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
12,MarzoCompras-0303072019121019_00541,281341,0.000000,21936,0.000000,JUAN LO Ramire,60.000,VC,30.000000,Sanjuan,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
13,MarzoCompras-0303072019121021_00570,10594523,90.000000,999131729,90.000000,HENRY SAVERO ARIAS,75.000,ST. 2 GP. 24 A. 12 M . LT 10,40.500000,VillA el SALVADOR,60.0,han-sa@honall.com,72.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
14,MarzoCompras-0303072019121021_00585,08661984,80.000000,997359605,60.000000,wanna ( vonre Halace Cervonly,60.000,Dr. Pierce Constantini 157,30.000000,,0.0,givennew@hotmail.com,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
15,MarzoCompras-0303072019121023_00648,10748050,71.250000,13490121,0.000000,,0.000,AV . Pre de Americe,30.000000,Coman,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
16,MarzoCompras-0303072019121023_00651,10748050,90.000000,34811121,0.000000,7envy We Scoto Alvan,69.000,AV. Rova le America # 8 16 KMBy,66.000000,lomas,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
17,MarzoCompras-0303072019121023_00652,10748050,60.000000,934811121,60.000000,Hewry Miller,30.000,INV- pora odd,30.000000,,0.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
18,MarzoCompras-0303072019121024_00709,43592898,60.000000,980617124,60.000000,Josser J. Reyna barcia,39.375,Asoc. viv Rcardenval La Ribong Me c2 101 19,60.000000,1 agues tino,60.0,poserswhotmail.cory,72.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
19,MarzoCompras-0303072019121025_00771,47023183,60.000000,982889908,90.000000,Angela Carolina Reinoso Thibocwo.,75.000,AU. Angelica Gamang 260 .,67.500000,Los Olivos,75.0,angela.reinoso@upch.pe,82.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
20,MarzoCompras-0303072019121030_00931,41330637,60.000000,971214922,60.000000,YESSICA MAGDALENA OBANDO GARCIA,67.500,AA - HH. SAN FRANCISCO DE ASIS MZ X At 6,78.500000,ANCON,90.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
21,MarzoCompras-0303072019121032_00998,16145220,90.000000,9926079,90.000000,FREDES BINDO OFELIA MENDEZ FRANCE,60.000,PAIDTF 13 DE OCTUBRE MEH LTIY CHOSION,63.750000,LUNGANCHO - CHOS/ CP,67.5,fredesxbinda-18@r,72.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
22,MarzoCompras-0303072019125009_00002,71412750,60.000000,94907940,0.000000,Evelyn Melagree Barrios Selupie,69.000,A el ed con alaryes conde 40? torreIt,60.000000,Chenillez,60.0,melonesplee20090hot,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
23,MarzoCompras-0303072019125011_00105,44243513,60.000000,940205495,60.000000,Cynthia. Quispe Manchi,60.000,I. Mana Corbacks cabra 3 A Deto 301 Los Proceres.,72.000000,Surco,90.0,cynthiaquispe.mcmail-co,68.571429,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
24,MarzoCompras-0303072019125012_00121,42914226,67.500000,986292246,80.000000,Susan Cervantes racgo,60.000,MEH LTA CTY Nuevo,80.000000,5 . J. L,82.5,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
25,MarzoCompras-0303072019125012_00123,08688843,80.000000,5687742,60.000000,DOLORES PAZO TAFUN,60.000,GERMAN APARTCIO 208 URB CONDEVILLA,80.000000,S. M. P,90.0,dowopazygmail.com,78.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
26,MarzoCompras-0303072019125013_00187,44765113,70.000000,946048073,70.000000,Gino Carlos Gonzales Flores,60.000,To. Fernando Tola 540,30.000000,S. M. P,80.0,vocalospongalesflores@quail.com,72.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
27,MarzoCompras-0303072019125013_00196,72239287,60.000000,288692,60.000000,Kelly Gladys Karlo Huaranga,70.000,MZ Y L 70 coop umamarca,60.000000,S . J. M,67.5,llyke-mh-is@hotmail.com,67.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
28,MarzoCompras-0303072019125013_00206,714123873,72.857143,914068535,72.857143,Sebastian Perez elias,69.000,M 2 132 LT8 illa Solidarido,32.500000,S.J. M,75.0,sepeell1224@gmail.co,84.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
29,MarzoCompras-0303072019125015_00264,:06163611,73.333333,944458794,73.333333,Nombres y Apellidos CARMEN E. SANCHEZ CHANGANA...,87.000,TRON 37 DIAS # 178,80.000000,Distrito TUDE PEN DENCIA,67.5,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,MarzoCompras-0303072019160827_00534,47588987,60.000000,944737156,60.000000,CRis THO FFER COMPOS CDIDOS.,80.000,ACM . 91 CHONCOYTIO .,39.000000,CHOMCAY,60.0,chevdrosto.(hotmoi).,67.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
71,MarzoCompras-0303072019160827_00548,06457043,84.000000,989148521,84.000000,Nancy Aidee Silva de Robles,85.000,Calle california,37.500000,shP,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
72,MarzoCompras-0303072019160829_00598,08001544,70.000000,95925203,0.000000,Segundo Lizandy Leon Marlives .,65.000,JR AVASCAR 2020 Dplo. 901,65.000000,Jesus Maria,60.0,segundo.lewneavianca.l,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
73,MarzoCompras-0303072019160829_00615,81600365,75.000000,944144102,82.500000,Dothe Aylain,39.000,Direccion. Av. Parcuccocles lucky /PS+ tupac A...,63.000000,la victory,60.0,osale.@auvalon.,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
74,MarzoCompras-0303072019160830_00632,42385808,70.000000,960624271,70.909091,Juon Antown wiiromo Drolong,67.500,AP,45.000000,,0.0,(onsucatonsubmois,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
75,MarzoCompras-0303072019160830_00655,0924FULL,90.000000,922249830,60.000000,PAUCAr HANCCO,37.500,MS. LiT. 10 Lib. SANTA ROSA,70.000000,Callao,90.0,judithge_1230hotmail.com,66.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
76,MarzoCompras-0303072019160831_00689,43685222,70.000000,921246597,70.000000,Terceles Dwas Peres,60.000,Du Proceres 760 Reelden los Pinos Eclif p. 301,63.000000,Send. de surco,70.0,twicerasp@gmail.com,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
77,MarzoCompras-0303072019160832_00728,DN109623807,0.000000,Te1e70n0533LLi92,0.000000,Pilar F. CARRILLO RUIZ,67.500,Ir. IGNACIO TO ROZE . Stef Urb. EITrebol,67.500000,LOS OLIVOS,75.0,pila1568@hot.mail.com,80.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
78,MarzoCompras-0303072019160832_00750,_,0.000000,993925830,82.500000,Apuedes Boshuoldo Boldcon,69.000,Ull/4 Por Te io poucortombo MZ DI CT 4 3 .,70.500000,Los 0 /) Uses s,66.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
79,MarzoCompras-0303072019160835_00870,41324322,60.000000,941463462,75.000000,GUERRERO VALENTIN,37.500,AV. GENERAL VIDAL 643 TABLADA DE LORIN,77.500000,VILLA MARIA DEL TRIUNFO,82.5,erikgv20@gmailcom,75.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
80,MarzoCompras-0303072019160838_00971,10277377,60.000000,994289210,80.000000,Fond Rocio Tercode chogue,69.000,control,30.000000,& S .,80.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
81,MarzoCompras-0303072019160838_00986,70405777,60.000000,935025294,80.000000,Preda pajuelo Nicole elizabeth,67.500,Amph Sth Cruz 12 BL lott 10,67.500000,punta Hermosa,75.0,ruedapajueloncoleagma,72.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
82,MarzoCompras-0303072019160838_00991,08952433,90.000000,947316728,80.000000,MARIA LUCILA XEDINA PUENTE,72.000,CALLE JOSE OLAYA# 124 SAN GABRIEL,86.250000,V . M . T,84.0,andrea.cavero@<mail,67.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
83,MarzoCompras-0303072019164214_00001,48548091,60.000000,934502075,60.000000,"Milagros , ravo Acosta",67.500,AU. CESOn VALLEJO 627 01 - 682 6307,71.250000,,0.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
84,MarzoCompras-0303072019164216_00097,41747180,75.000000,998914174,60.000000,periodo copes,30.000,< Jou del Ca men,45.000000,Jan Tranche Miraflore,60.0,euk367@prnail.one,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
85,MarzoCompras-0303072019164218_00165,09789033,80.000000,945601097,70.000000,CECILIA MARIBEL SANCHEZ LEON DE ARAGON,75.000,A. V. E/ MILAGRO 322 ElMILAGRO,66.000000,IN DEPENDENCIA,75.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
86,MarzoCompras-0303072019164220_00279,41433939,90.000000,920612083,84.000000,LENIN ALFREDO PALACIOS ALCANTARA,90.000,CALLE 25 MZ. L Lt. 1. 1 ASOCIACION SANTA ROSA,81.428571,CALLAO,90.0,09010236@unmsm.edu.pe,68.571429,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
87,MarzoCompras-0303072019164223_00394,43351631,90.000000,945682565,60.000000,Gomales Chuan,75.000,Av. 27 de Diciembre,37.500000,Villa Maria del Triunto,75.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
88,MarzoCompras-0303072019164223_00407,10497518,75.000000,954786608,60.000000,HARIBEL LOURDES PACHECO TORREBLANCA,67.500,CALIG ESTERAN TUERTEN 638 ZONA ' A' S. J. M,66.428571,S. J. M,70.0,pachocotorrebianca@@miller,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
89,MarzoCompras-0303072019164225_00499,27988142,80.000000,982612749,75.000000,&So Aviles Sanges,37.500,Clemente palmer 324,30.000000,San Martin de porres,67.5,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
90,MarzoCompras-0303072019164226_00511,279881491,60.000000,98261224,0.000000,,0.000,clemente palma,30.000000,San marlin deporres,70.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
91,MarzoCompras-0303072019164227_00551,45038476,75.000000,952388518,84.000000,JOANA Conobito Rochipes,60.000,Miguel CORTez 180 Son Mipvel,72.500000,San Miguel,75.0,joha3490hotmail.com,72.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
92,MarzoCompras-0303072019164227_00562,48064827,80.000000,975327693,90.000000,Felson Consays Hugman,84.000,Salavery 3680,37.500000,Jos Olivos,60.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
93,MarzoCompras-0303072019164229_00674,45795971,60.000000,93644462,0.000000,EVELIN ARIAS ARIAS,90.000,MALA - LA HUACA,37.500000,MALA,90.0,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
94,MarzoCompras-0303072019164229_00675,44822698,82.500000,970378345,60.000000,Fiorella Fernandes Cachi,67.500,Jranon Castella MASII late 10 ( tablada ch Turin,62.500000,Villa Maria did Trunfo,67.5,,71.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
95,MarzoCompras-0303072019164230_00714,46850710,68.571429,753585415,68.571429,genesis goodos Vignolo,69.000,Monitor Hoodcon Seen 517 A,70.000000,Rimac,60.0,genesis28266egmailcon,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
96,MarzoCompras-0303072019164230_00719,46682940,78.750000,943524335,78.750000,TECSI HU A ARROYO FREDY ANTHONI,87.500,&. HA BICH 295 URB. INGENPERIA,78.750000,SAN MARTIN LIMA,80.0,tecsphua-1@hotmail.com,67.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
97,MarzoCompras-0303072019164231_00751,10160763,75.000000,987592321,90.000000,MARIA PATINO VILLANTOY,67.500,AV. LO SAUCES 358 ERMITASO,67.500000,INDEPENDENCIA,60.0,patino75469mall,60.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
98,MarzoCompras-0303072019164232_00782,73176120,75.000000,957384682,90.000000,dundsay Lopez,39.000,Av los sauces # 198,39.000000,Independencia,60.0,lindsaylopez154@gmail.com,67.500000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2
99,MarzoCompras-0303072019164233_00817,94483517,70.000000,981582093,82.500000,Usualdie Emiliono Asto Conder,69.000,AZ. J. 1.9 Grupo 1 Decinu sector . Edibende Rome,63.000000,Vill. of Jodee dor.,60.0,solomonacce@yohoo.com,70.000000,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2

In [12]:
total_comp_azure = pd.merge(bd_azure, m3100_real, how='left', on='NombreArchivo')
total_comp_azure['dni_lev_azure'] = np_distance(total_comp_azure['DNI_x'],total_comp_azure['DNI_y'])
total_comp_azure['tel_lev_azure'] = np_distance(total_comp_azure['Telefono'],total_comp_azure['telefono'])

total_comp_azure['email'] = np.where(total_comp_azure['email']=="-",
                                    "",
                                    total_comp_azure['email'].apply(str.lower))
total_comp_azure['Correo'] = total_comp_azure['Correo'].apply(str.lower)
total_comp_azure['mail_lev_azure'] = np_distance(total_comp_azure['Correo'],total_comp_azure['email'])

# Cleaning muestra
total_comp_azure['DNI_y'] = total_comp_azure['DNI_y'].apply(str.strip)
total_comp_azure['DNI_y'] = total_comp_azure['DNI_y'].apply(clean_real_dni)

# Columnas con letras
total_comp_azure['letter_in_DNI_real'] = np_has_letters(total_comp_azure['DNI_y'])
total_comp_azure['letter_in_DNI_est'] = np_has_letters(total_comp_azure['DNI_x'])

# Longitud de estimación
total_comp_azure['len_DNI_est'] = total_comp_azure['DNI_x'].apply(len)
total_comp_azure['len_tel_est'] = total_comp_azure['Telefono'].apply(len)
total_comp_azure['len_mail_est'] = total_comp_azure['Correo'].apply(len)

# New rule test
total_comp_azure['DNI_final'] = np.where(total_comp_azure.len_DNI_est>=14,
                                       total_comp_azure['DNI_x'].apply(lambda x : clean_letters(x)[:8]),
                                       total_comp_azure['DNI_x']
                                      )

# Longitud de estimación
total_comp_azure['len_DNI_est_fin'] = total_comp_azure['DNI_final'].apply(len)

total_comp_azure['dni_lev_azure_fin'] = np_distance(total_comp_azure['DNI_final'],total_comp_azure['DNI_y'])

In [13]:
total_comp_azure.columns

Index(['NombreArchivo', 'DNI_x', 'AcertividadDNI', 'Telefono',
       'AcertividadTelefono', 'NombreCompleto', 'AcertividadNombreCompleto',
       'Direccion', 'AcertividadDireccion', 'Distrito', 'AcertividadDistrito',
       'Correo', 'AcertividadCorreo', 'AzureJsonOCR', 'idCampania',
       'idUsuario', 'idEstado', 'Unnamed: 0', 'nombre_archivo', 'DNI_y',
       'telefono', 'Observación', 'email', 'dni_lev_azure', 'tel_lev_azure',
       'mail_lev_azure', 'letter_in_DNI_real', 'letter_in_DNI_est',
       'len_DNI_est', 'len_tel_est', 'len_mail_est', 'DNI_final',
       'len_DNI_est_fin', 'dni_lev_azure_fin'],
      dtype='object')

## Detalle DNI

In [47]:
total_comp_azure[['NombreArchivo','DNI_y','DNI_final','dni_lev_azure_fin']][total_comp_azure.len_DNI_est==1]

,NombreArchivo,DNI_y,DNI_final,dni_lev_azure_fin
78,MarzoCompras-0303072019160832_00750,21286476,_,8
528,MarzoCompras_AV_B5_20190710101445_00875,73804179,1,7
595,MarzoCompras_EL_B2_20190703180748_00688,10528087,_,8
604,MarzoCompras_EL_B2_20190704103516_00490,43937446,!,8
734,MarzoCompras_EL_B2_20190704173329_00684,16620571,_,8
735,MarzoCompras_EL_B2_20190704173331_00732,46176535,_,8
829,MarzoCompras_EL_B3_20190705145337_00713,46741758,_,8
1138,MarzoCompras_LV01072019151525_00192,08638607,_,8
1225,MarzoCompras_LV02072019123159_00037,,:,1
1318,MarzoCompras_LV03072019104005_00141,42385808,_,8
1362,MarzoCompras_LV03072019122002_00482,21816394,_,8
1549,MarzoCompras_LV_B2_20190704165959_00263,47588987,_,8
1686,MarzoCompras_LV_B2_20190705114651_00260,72199791,:,8
1702,MarzoCompras_LV_B2_20190705121636_00267,09405149,:,8
1930,MarzoCompras_LV_B5_20190709151125_00320,43333299,_,8
1968,MarzoCompras_MD_B2_20190704102449_00097,42428626,_,8
2108,MarzoCompras_MD_B2_20190704145942_00128,08650242,1,8
2184,MarzoCompras_MD_B2_20190704174838_00921,42046432,_,8
2211,MarzoCompras_MD_B2_20190705111750_00273,42385808,_,8
2392,MarzoCompras_MD_B4_20190708141302_00662,40517646,_,8
2547,MarzoCompras_MD_B5_20190709150820_00495,200210169,_,9
2603,MarzoCompras_MD_B5_20190709165128_00844,07970073,6,8
2661,MarzoCompras_MD_B5_20190709181807_00871,08795468,_,8
2713,MarzoCompras_MD_B5_20190710112254_00716,08000143,_,8
2910,MarzoCompras_XM_B5_20190709150920_00160,72866848,_,8
3035,MarzoCompras_XM_B5_20190710100548_00505,122470651,_,9

In [8]:
lev_dni_azure = total_comp_azure.groupby(['len_DNI_est']).agg({'NombreArchivo':'count'})
lev_dni_azure['porcentaje'] = np.round(lev_dni_azure['NombreArchivo'] * 100 / lev_dni_azure['NombreArchivo'].sum() , 2)
lev_dni_azure['cuenta'] = lev_dni_azure['NombreArchivo']
lev_dni_azure[['cuenta','porcentaje']]

             cuenta  porcentaje
len_DNI_est
0                88        2.78
1                25        0.79
2                 2        0.06
3                 2        0.06
4                 1        0.03
5                 1        0.03
6                 9        0.28
7               170        5.38
8              2389       75.60
9               146        4.62
10               20        0.63
11               19        0.60
12                6        0.19
13                2        0.06
14                8        0.25
15               38        1.20
16               84        2.66
17               91        2.88
18               16        0.51
19                9        0.28
21                2        0.06
22                4        0.13
23                7        0.22
24                4        0.13
25                7        0.22
26                4        0.13
27                2        0.06
28                2        0.06
30                1        0.03
34                1        0.03

## Detalle Telefono

In [127]:
total_comp_azure[['NombreArchivo','Telefono','telefono','tel_lev_azure']][total_comp_azure.len_tel_est==0]

,NombreArchivo,Telefono,telefono,tel_lev_azure
122,MarzoCompras_0202072019164511_00837,98083440,980834403,1
153,MarzoCompras_0203072019122719_00317,99803167,99903167,1
166,MarzoCompras_0203072019122734_00881,2764230,2764230,0
182,MarzoCompras_0203072019130749_00573,8975217JJ,997521755,3
191,MarzoCompras_AV_B3_20190705171107_00218,,5311830,7
241,MarzoCompras_AV_B3_20190708093427_00570,,991589375,9
245,MarzoCompras_AV_B3_20190708093431_00718,,989568657,9
264,MarzoCompras_AV_B3_20190708100700_00554,DN:19825169964646696,-,20
283,MarzoCompras_AV_B3_20190708103535_00284,906207081,986207081,1
285,MarzoCompras_AV_B3_20190708103538_00427,,,0
293,MarzoCompras_AV_B3_20190708105118_00044,984707023,984707023,0
363,MarzoCompras_AV_B4_20190708180930_00273,98687861,988879617,3
374,MarzoCompras_AV_B4_20190708180947_00859,987311423,987315423,1
393,MarzoCompras_AV_B4_20190709102238_00124,934811121,934811121,0
440,MarzoCompras_AV_B5_20190709163903_00499,,998387699,9
489,MarzoCompras_AV_B5_20190709174042_00904,92716944,977176944,2
522,MarzoCompras_AV_B5_20190710101429_00371,980534117,980534117,0
576,MarzoCompras_AV_B5_20190710120144_00664,926981348,926981348,0
581,MarzoCompras_AV_B5_20190710150935_00103,96394077,963440777,2
617,MarzoCompras_EL_B2_20190704114115_00074,,934502075,9
702,MarzoCompras_EL_B2_20190704150244_00752,5284926,5284926,0
716,MarzoCompras_EL_B2_20190704160728_00675,98751542,987315423,2
726,MarzoCompras_EL_B2_20190704173315_00260,987190704,987190704,0
779,MarzoCompras_EL_B2_20190705110734_00972,945051434,945051434,0
833,MarzoCompras_EL_B3_20190705145339_00740,95304764,953047642,1
870,MarzoCompras_EL_B3_20190705174808_00668,391932292,951932292,2
879,MarzoCompras_EL_B3_20190705184213_00217,925010051,935010051,1
914,MarzoCompras_EL_B3_20190705194051_00591,970786086,970786086,0
966,MarzoCompras_EL_B4_20190708134320_00134,,958320727,9
967,MarzoCompras_EL_B4_20190708134325_00302,99415578,994155787,1
...,...,...,...,...
2019,MarzoCompras_MD_B2_20190704105618_01000,983489903,983489903,0
2108,MarzoCompras_MD_B2_20190704143346_00685,St0p,5670293,6
2132,MarzoCompras_MD_B2_20190704154618_00141,,964238792,9
2186,MarzoCompras_MD_B2_20190704174833_00782,95114527,995114527,1
2219,MarzoCompras_MD_B2_20190705111751_00283,982335853,982335853,0
2225,MarzoCompras_MD_B2_20190705111800_00580,980534117,980534117,0
2226,MarzoCompras_MD_B2_20190705111800_00584,980534117,980534117,0
2243,MarzoCompras_MD_B2_20190705114420_00570,,996002029,9
2254,MarzoCompras_MD_B2_20190705114428_00862,980534117,980534117,0
2273,MarzoCompras_MD_B2_20190705121111_00727,5704732,5704732,0
2279,MarzoCompras_MD_B2_20190705124232_00029,20353,99035320,4
2388,MarzoCompras_MD_B4_20190708141252_00368,943822668,9433822668,1
2411,MarzoCompras_MD_B4_20190708144455_00293,99118Q277,991180277,1
2414,MarzoCompras_MD_B4_20190708144459_00416,9436677LG,943667716,2
2437,MarzoCompras_MD_B4_20190708151313_00750,(60347,960374779,4
2585,MarzoCompras_MD_B5_20190709162700_00343,Aunave1de1eT0neMZc4tes,,22
2598,MarzoCompras_MD_B5_20190709165112_00211,6088807,6088807,0
2607,MarzoCompras_MD_B5_20190709165123_00654,997315423,987315423,1
2628,MarzoCompras_MD_B5_20190709172401_00414,,2578675,7
2682,MarzoCompras_MD_B5_20190710100901_00552,964394708,964394708,0
2683,MarzoCompras_MD_B5_20190710100902_00598,27976948,979769418,2
2686,MarzoCompras_MD_B5_20190710100910_00868,987315423,987315423,0
2727,MarzoCompras_MD_B5_20190710121308_00096,943822668,943822668,0
2803,MarzoCompras_XM_B3_20190708095056_00836,,962599231,9
2809,MarzoCompras_XM_B3_20190708102549_00074,983106538,983506588,2
2926,MarzoCompras_XM_B5_20190709150934_00566,977615016,977615016,0
2944,MarzoCompras_XM_B5_20190709154939_00481,795206910,995206915,2
2973,MarzoCompras_XM_B5_20190709171349_00566,992370586,992370586,0
3056,MarzoCompras_XM_B5_20190710103950_00558,946192065,946192065,0
3115,MarzoCompras_XM_B5_20190710131705_00173,915372581,95372581,1

## Detalle E-mail

In [80]:
total_comp_azure[['NombreArchivo','Correo','email','mail_lev_azure','AcertividadCorreo']][total_comp_azure.len_mail_est==0][total_comp_azure.email==""]

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,NombreArchivo,Correo,email,mail_lev_azure,AcertividadCorreo
2,MarzoCompras-0303072019121007_00025,,,0,71.0
4,MarzoCompras-0303072019121014_00331,,,0,71.0
5,MarzoCompras-0303072019121014_00343,,,0,71.0
12,MarzoCompras-0303072019121019_00541,,,0,71.0
15,MarzoCompras-0303072019121023_00648,,,0,71.0
16,MarzoCompras-0303072019121023_00651,,,0,71.0
17,MarzoCompras-0303072019121023_00652,,,0,71.0
20,MarzoCompras-0303072019121030_00931,,,0,71.0
24,MarzoCompras-0303072019125012_00121,,,0,71.0
29,MarzoCompras-0303072019125015_00264,,,0,71.0
42,MarzoCompras-0303072019132559_00266,,,0,71.0
43,MarzoCompras-0303072019132600_00309,,,0,71.0
47,MarzoCompras-0303072019132605_00516,,,0,71.0
49,MarzoCompras-0303072019132606_00540,,,0,71.0
50,MarzoCompras-0303072019132606_00553,,,0,71.0
51,MarzoCompras-0303072019132606_00564,,,0,71.0
53,MarzoCompras-0303072019132611_00744,,,0,71.0
55,MarzoCompras-0303072019132613_00813,,,0,71.0
56,MarzoCompras-0303072019132613_00818,,,0,71.0
58,MarzoCompras-0303072019132617_00957,,,0,71.0
59,MarzoCompras-0303072019132617_00962,,,0,71.0
60,MarzoCompras-0303072019132617_00970,,,0,71.0
63,MarzoCompras-0303072019160820_00230,,,0,71.0
65,MarzoCompras-0303072019160824_00415,,,0,71.0
67,MarzoCompras-0303072019160826_00481,,,0,71.0
71,MarzoCompras-0303072019160827_00548,,,0,71.0
78,MarzoCompras-0303072019160832_00750,,,0,71.0
80,MarzoCompras-0303072019160838_00971,,,0,71.0
83,MarzoCompras-0303072019164214_00001,,,0,71.0
85,MarzoCompras-0303072019164218_00165,,,0,71.0
...,...,...,...,...,...
3086,MarzoCompras_XM_B5_20190710122818_00184,,,0,71.0
3087,MarzoCompras_XM_B5_20190710122819_00207,,,0,71.0
3088,MarzoCompras_XM_B5_20190710122820_00235,,,0,71.0
3096,MarzoCompras_XM_B5_20190710122834_00611,,,0,71.0
3097,MarzoCompras_XM_B5_20190710122838_00706,,,0,71.0
3098,MarzoCompras_XM_B5_20190710122839_00743,,,0,71.0
3101,MarzoCompras_XM_B5_20190710131657_00008,,,0,71.0
3104,MarzoCompras_XM_B5_20190710131703_00110,,,0,71.0
3105,MarzoCompras_XM_B5_20190710131704_00134,,,0,71.0
3111,MarzoCompras_XM_B5_20190710131710_00320,,,0,71.0
3112,MarzoCompras_XM_B5_20190710131710_00327,,,0,71.0
3113,MarzoCompras_XM_B5_20190710131716_00382,,,0,71.0
3118,MarzoCompras_XM_B5_20190710131729_00654,,,0,71.0
3119,MarzoCompras_XM_B5_20190710131730_00678,,,0,71.0
3120,MarzoCompras_XM_B5_20190710131732_00733,,,0,71.0
3123,MarzoCompras_XM_B5_20190710131741_00891,,,0,71.0
3124,MarzoCompras_XM_B5_20190710131742_00906,,,0,71.0
3128,MarzoCompras_XM_B5_20190710131747_01001,,,0,71.0
3135,MarzoCompras_XM_B5_20190710134538_00628,,,0,71.0
3141,MarzoCompras_XM_B5_20190710134551_00897,,,0,71.0
3142,MarzoCompras_XM_B5_20190710150302_00014,,,0,71.0
3145,MarzoCompras_XM_B5_20190710150308_00203,,,0,71.0
3146,MarzoCompras_XM_B5_20190710150308_00204,,,0,71.0
3148,MarzoCompras_XM_B5_20190710150312_00355,,,0,71.0
3149,MarzoCompras_XM_B5_20190710150312_00360,,,0,71.0
3150,MarzoCompras_XM_B5_20190710150317_00473,,,0,71.0
3155,MarzoCompras_XM_B5_20190710150330_00774,,,0,71.0
3157,MarzoCompras_XM_B5_20190710150332_00855,,,0,71.0
3158,MarzoCompras_XM_B5_20190710150334_00907,,,0,71.0
3159,MarzoCompras_XM_B5_20190710150336_00953,,,0,71.0

In [74]:
1184 * 100 / 1268

93.37539432176656

## Medicion DNI

In [14]:
lev_dni_azure = total_comp_azure.groupby(['dni_lev_azure_fin']).agg({'NombreArchivo':'count'})
lev_dni_azure['porcentaje'] = np.round(lev_dni_azure['NombreArchivo'] * 100 / lev_dni_azure['NombreArchivo'].sum() , 2)
lev_dni_azure['cuenta'] = lev_dni_azure['NombreArchivo']
lev_dni_azure[['cuenta','porcentaje']]

                   cuenta  porcentaje
dni_lev_azure_fin
0                    1841       58.26
1                     746       23.61
2                     282        8.92
3                     113        3.58
4                      41        1.30
5                      14        0.44
6                      10        0.32
7                      16        0.51
8                      92        2.91
9                       4        0.13
10                      1        0.03

## Medición Telefono

In [81]:
tel_dni_azure = total_comp_azure.groupby(['tel_lev_azure']).agg({'NombreArchivo':'count'})
tel_dni_azure['porcentaje'] = np.round(tel_dni_azure['NombreArchivo'] * 100 / tel_dni_azure['NombreArchivo'].sum() , 2)
tel_dni_azure['cuenta'] = tel_dni_azure['NombreArchivo']
tel_dni_azure[['cuenta','porcentaje']]

               cuenta  porcentaje
tel_lev_azure
0                1699       53.77
1                 851       26.93
2                 314        9.94
3                 125        3.96
4                  45        1.42
5                  10        0.32
6                   6        0.19
7                  19        0.60
8                  11        0.35
9                  62        1.96
10                  9        0.28
11                  6        0.19
12                  2        0.06
20                  1        0.03

## Medición E-mail

In [83]:
mail_dni_azure = total_comp_azure.groupby(['mail_lev_azure']).agg({'NombreArchivo':'count'})
mail_dni_azure['porcentaje'] = np.round(mail_dni_azure['NombreArchivo'] * 100 / mail_dni_azure['NombreArchivo'].sum() , 2)
mail_dni_azure['cuenta'] = mail_dni_azure['NombreArchivo']
mail_dni_azure[['cuenta','porcentaje']]

                cuenta  porcentaje
mail_lev_azure
0                 1332       42.15
1                  228        7.22
2                  238        7.53
3                  214        6.77
4                  202        6.39
5                  186        5.89
6                  152        4.81
7                  122        3.86
8                   93        2.94
9                   62        1.96
10                  67        2.12
11                  55        1.74
12                  40        1.27
13                  31        0.98
14                  22        0.70
15                  11        0.35
16                  12        0.38
17                   9        0.28
18                   9        0.28
19                  11        0.35
20                  16        0.51
21                   8        0.25
22                  10        0.32
23                   7        0.22
24                   8        0.25
25                   7        0.22
26                   3        0.09
27                   1        0.03
28                   1        0.03
29                   2        0.06
30                   1        0.03

## Parametro DNI

In [15]:
for i in range(40, 92, 1):
    param_dni = total_comp_azure[['NombreArchivo','DNI_y','DNI_final','AcertividadDNI']]
    # param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
    param_dni['trues_est'] = np.where(param_dni['AcertividadDNI']>=i, 1, 0)
    param_dni['trues_real'] = np.where(param_dni['DNI_final']==param_dni['DNI_y'], 1, 0)
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

40 se tiene 0.89 0.58
41 se tiene 0.89 0.58
42 se tiene 0.89 0.58
43 se tiene 0.89 0.58
44 se tiene 0.89 0.58
45 se tiene 0.89 0.58
46 se tiene 0.89 0.58
47 se tiene 0.89 0.58
48 se tiene 0.89 0.58
49 se tiene 0.89 0.58
50 se tiene 0.89 0.58
51 se tiene 0.89 0.58
52 se tiene 0.89 0.58
53 se tiene 0.89 0.58
54 se tiene 0.89 0.58
55 se tiene 0.89 0.58
56 se tiene 0.89 0.58
57 se tiene 0.89 0.58
58 se tiene 0.89 0.58
59 se tiene 0.89 0.58
60 se tiene 0.89 0.58
61 se tiene 0.59 0.58
62 se tiene 0.59 0.58
63 se tiene 0.59 0.58
64 se tiene 0.59 0.58
65 se tiene 0.59 0.58
66 se tiene 0.58 0.58
67 se tiene 0.57 0.58
68 se tiene 0.54 0.58
69 se tiene 0.53 0.58
70 se tiene 0.53 0.58
71 se tiene 0.46 0.58
72 se tiene 0.45 0.58
73 se tiene 0.43 0.58
74 se tiene 0.42 0.58
75 se tiene 0.42 0.58
76 se tiene 0.27 0.58
77 se tiene 0.27 0.58
78 se tiene 0.26 0.58
79 se tiene 0.24 0.58
80 se tiene 0.24 0.58
81 se tiene 0.18 0.58
82 se tiene 0.17 0.58
83 se tiene 0.15 0.58
84 se tiene 0.15 0.58
85 se tiene 0.14 0.58
86 se tiene 0.13 0.58
87 se tiene 0.13 0.58
88 se tiene 0.13 0.58
89 se tiene 0.13 0.58
90 se tiene 0.13 0.58
91 se tiene 0.0 0.58

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [30]:
param_dni = total_comp_azure[['NombreArchivo','DNI_y','DNI_final','AcertividadDNI']]

param_dni['trues_est'] = np.where(param_dni['AcertividadDNI']>=79, 1, 0)
param_dni['trues_real'] = np.where(param_dni['DNI_final']==param_dni['DNI_y'], 1, 0)
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

trues_real     0     1
trues_est
0           1194  1198
1            125   643

In [31]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100, 2)

trues_real      0      1
trues_est
0           37.78  37.91
1            3.96  20.35

## Parámetro Telefono

In [108]:
for i in range(40, 92, 1):
    param_dni = total_comp_azure[['NombreArchivo','Telefono','telefono','AcertividadTelefono','tel_lev_azure']]
    param_dni['trues_est'] = np.where(param_dni['AcertividadTelefono']>=i, 1, 0)
    param_dni['trues_real'] = np.where(param_dni['Telefono']==param_dni['telefono'], 1, 0)
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

40 se tiene 0.81 0.54
41 se tiene 0.81 0.54
42 se tiene 0.81 0.54
43 se tiene 0.81 0.54
44 se tiene 0.81 0.54
45 se tiene 0.81 0.54
46 se tiene 0.81 0.54
47 se tiene 0.81 0.54
48 se tiene 0.81 0.54
49 se tiene 0.81 0.54
50 se tiene 0.81 0.54
51 se tiene 0.81 0.54
52 se tiene 0.81 0.54
53 se tiene 0.81 0.54
54 se tiene 0.81 0.54
55 se tiene 0.81 0.54
56 se tiene 0.81 0.54
57 se tiene 0.81 0.54
58 se tiene 0.81 0.54
59 se tiene 0.81 0.54
60 se tiene 0.81 0.54
61 se tiene 0.54 0.54
62 se tiene 0.54 0.54
63 se tiene 0.54 0.54
64 se tiene 0.54 0.54
65 se tiene 0.54 0.54
66 se tiene 0.53 0.54
67 se tiene 0.52 0.54
68 se tiene 0.5 0.54
69 se tiene 0.5 0.54
70 se tiene 0.5 0.54
71 se tiene 0.44 0.54
72 se tiene 0.43 0.54
73 se tiene 0.41 0.54
74 se tiene 0.4 0.54
75 se tiene 0.4 0.54
76 se tiene 0.27 0.54
77 se tiene 0.27 0.54
78 se tiene 0.26 0.54
79 se tiene 0.24 0.54
80 se tiene 0.24 0.54
81 se tiene 0.18 0.54
82 se tiene 0.17 0.54
83 se tiene 0.14 0.54
84 se tiene 0.14 0.54
85 se tiene 0.13 0.54
86 se tiene 0.12 0.54
87 se tiene 0.12 0.54
88 se tiene 0.12 0.54
89 se tiene 0.12 0.54
90 se tiene 0.12 0.54
91 se tiene 0.0 0.54

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [115]:
param_dni['trues_est'] = np.where(param_dni['AcertividadTelefono']>=77, 1, 0)
param_dni['trues_real'] = np.where(param_dni['Telefono']==param_dni['telefono'], 1, 0)
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

trues_real     0     1
trues_est
0           1310  1012
1            151   687

In [116]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100,2)

trues_real      0      1
trues_est
0           41.46  32.03
1            4.78  21.74

## Parámetro E-mail

In [117]:
for i in range(40, 92, 1):
    param_dni = total_comp_azure[['NombreArchivo','Correo','email','AcertividadCorreo','mail_lev_azure']]
    param_dni['trues_est'] = np.where(param_dni['AcertividadCorreo']>=i, 1, 0)
    param_dni['trues_real'] = np.where(param_dni['Correo']==param_dni['email'], 1, 0)
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

40 se tiene 1.0 0.42
41 se tiene 1.0 0.42
42 se tiene 1.0 0.42
43 se tiene 1.0 0.42
44 se tiene 1.0 0.42
45 se tiene 1.0 0.42
46 se tiene 1.0 0.42
47 se tiene 1.0 0.42
48 se tiene 1.0 0.42
49 se tiene 1.0 0.42
50 se tiene 1.0 0.42
51 se tiene 1.0 0.42
52 se tiene 1.0 0.42
53 se tiene 1.0 0.42
54 se tiene 1.0 0.42
55 se tiene 1.0 0.42
56 se tiene 1.0 0.42
57 se tiene 1.0 0.42
58 se tiene 1.0 0.42
59 se tiene 1.0 0.42
60 se tiene 1.0 0.42
61 se tiene 0.79 0.42
62 se tiene 0.79 0.42
63 se tiene 0.79 0.42
64 se tiene 0.79 0.42
65 se tiene 0.79 0.42
66 se tiene 0.77 0.42
67 se tiene 0.72 0.42
68 se tiene 0.66 0.42
69 se tiene 0.65 0.42
70 se tiene 0.65 0.42
71 se tiene 0.58 0.42
72 se tiene 0.18 0.42
73 se tiene 0.13 0.42
74 se tiene 0.13 0.42
75 se tiene 0.13 0.42
76 se tiene 0.08 0.42
77 se tiene 0.08 0.42
78 se tiene 0.08 0.42
79 se tiene 0.06 0.42
80 se tiene 0.06 0.42
81 se tiene 0.04 0.42
82 se tiene 0.04 0.42
83 se tiene 0.03 0.42
84 se tiene 0.03 0.42
85 se tiene 0.03 0.42
86 se tiene 0.02 0.42
87 se tiene 0.02 0.42
88 se tiene 0.02 0.42
89 se tiene 0.02 0.42
90 se tiene 0.02 0.42
91 se tiene 0.0 0.42

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [129]:
param_dni['trues_est'] = np.where(param_dni['AcertividadCorreo']>=70, 1, 0)
param_dni['trues_real'] = np.where(param_dni['Correo']==param_dni['email'], 1, 0)
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

trues_real     0     1
trues_est
0           1061    47
1            767  1285

In [130]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100,2)

trues_real      0      1
trues_est
0           33.58   1.49
1           24.27  40.66