In [2]:
# Import section
import cv2
import numpy as np
from os import scandir, getcwd, rename
import requests
import time
import json
import re
import pandas as pd

In [22]:
def get_cnn_value_from_json(json_local):
    json.load(json_local)

def stringfy(classes):
    r = ""
    for i in classes:
        r += str(i)
    return r.strip()
def aciertos_from_str(real, est):
    count = 0
    for i in range(len(real)):
        if real[i]==est[i]:
            count += 1
    return count

def distance(str1, str2):
    d=dict()
    for i in range(len(str1)+1):
        d[i]=dict()
        d[i][0]=i
    for i in range(len(str2)+1):
        d[0][i] = i
    for i in range(1, len(str1)+1):
        for j in range(1, len(str2)+1):
            d[i][j] = min(d[i][j-1]+1, d[i-1][j]+1, d[i-1][j-1]+(not str1[i-1] == str2[j-1]))
    return d[len(str1)][len(str2)]

def improve(num, num_pred, scores):
    res = ""
    for i in range(len(str(num))):
        if scores[i] >= 9400:
            res += str(str(num)[i])
        else:
            res += str(str(num_pred)[i])
    return res

def has_letters(word):
    ret = True
    for c in word:
        if not ('0' <= c and c <= '9'):
            return not False
    return not True

def clean_letters(word):
    ret = ""
    for c in word:
        if ('0' <= c and c <= '9'):
            ret += str(c)
    return ret

def clean_real_dni(word):
    word = word.replace("-","")
    word = word.replace("O","0")
    word = word.replace("o","0")
    word = word.replace(" ","")
    return word

np_aciertos_from_str = np.vectorize(aciertos_from_str)
np_distance = np.vectorize(distance)
np_improve = np.vectorize(improve)
np_has_letters = np.vectorize(has_letters)

# REAL

In [4]:
m3100_real = pd.read_csv('D:\\GyS\\proyectos\\cuponesWong\\proceso_definitivo\\process\\muestra900\\levantamiento\\total.csv', dtype={'DNI':str, 'telefono':str})
m3100_real = m3100_real.fillna('')
m3100_real['NombreArchivo'] = m3100_real['nombre_archivo'].apply(lambda x: x[:-4])
m3100_real.head()

,Unnamed: 0,nombre_archivo,DNI,telefono,Observación,email,NombreArchivo
0,0,MarzoCompras_0202072019164448_00043.jpg,42650934,979754672,,Maicusi@hotmail.com,MarzoCompras_0202072019164448_00043
1,1,MarzoCompras_0202072019164454_00245.jpg,20996780,923540008,,,MarzoCompras_0202072019164454_00245
2,2,MarzoCompras_0202072019164458_00359.jpg,42051024,940445230,,jtrujillowong@outlook.com,MarzoCompras_0202072019164458_00359
3,3,MarzoCompras_0202072019164503_00537.jpg,40557762,987136744,,Micasu -80@Hotmail.com,MarzoCompras_0202072019164503_00537
4,4,MarzoCompras_0202072019164503_00546.jpg,08668202,995382267,,CAROLINA CM10_10@HOTMAIL.COM,MarzoCompras_0202072019164503_00546

# ESTIMADO

In [74]:
bd_azure = pd.read_csv('azure_result/azure_result_metrics_afterclean.csv', dtype={'DNI':str, 'telefono':str})
bd_azure = bd_azure.fillna('')

In [131]:
total_comp_azure = pd.merge(bd_azure, m3100_real, how='left', on='NombreArchivo')
total_comp_azure['dni_lev_azure'] = np_distance(total_comp_azure['DNI_x'],total_comp_azure['DNI_y'])
total_comp_azure['tel_lev_azure'] = np_distance(total_comp_azure['Telefono'],total_comp_azure['telefono'])

total_comp_azure['email'] = np.where(total_comp_azure['email']=="-",
                                    "",
                                    total_comp_azure['email'].apply(str.lower))
total_comp_azure['Correo'] = total_comp_azure['Correo'].apply(str.lower)
total_comp_azure['mail_lev_azure'] = np_distance(total_comp_azure['Correo'],total_comp_azure['email'])

# Cleaning muestra
total_comp_azure['DNI_y'] = total_comp_azure['DNI_y'].apply(str.strip)
total_comp_azure['DNI_y'] = total_comp_azure['DNI_y'].apply(clean_real_dni)

# Columnas con letras
total_comp_azure['letter_in_DNI_real'] = np_has_letters(total_comp_azure['DNI_y'])
total_comp_azure['letter_in_DNI_est'] = np_has_letters(total_comp_azure['DNI_x'])

# Longitud de estimación
total_comp_azure['len_DNI_est'] = total_comp_azure['DNI_x'].apply(len)
total_comp_azure['len_tel_est'] = total_comp_azure['Telefono'].apply(len)

# New rule test
total_comp_azure['DNI_final'] = np.where(total_comp_azure.len_DNI_est>=14,
                                       total_comp_azure['DNI_x'].apply(lambda x : clean_letters(x)[:8]),
                                       total_comp_azure['DNI_x']
                                      )

# Longitud de estimación
total_comp_azure['len_DNI_est_fin'] = total_comp_azure['DNI_final'].apply(len)

total_comp_azure['dni_lev_azure_fin'] = np_distance(total_comp_azure['DNI_final'],total_comp_azure['DNI_y'])

In [132]:
total_comp_azure.columns

Index(['NombreArchivo', 'DNI_x', 'AcertividadDNI', 'Telefono',
       'AcertividadTelefono', 'NombreCompleto', 'AcertividadNombreCompleto',
       'Direccion', 'AcertividadDireccion', 'Distrito', 'AcertividadDistrito',
       'Correo', 'AcertividadCorreo', 'Unnamed: 0', 'nombre_archivo', 'DNI_y',
       'telefono', 'Observación', 'email', 'dni_lev_azure', 'tel_lev_azure',
       'mail_lev_azure', 'letter_in_DNI_real', 'letter_in_DNI_est',
       'len_DNI_est', 'len_tel_est', 'DNI_final', 'len_DNI_est_fin',
       'dni_lev_azure_fin'],
      dtype='object')

## Detalle DNI

In [100]:
total_comp_azure[['NombreArchivo','DNI_y','DNI_final','dni_lev_azure_fin']][total_comp_azure.len_DNI_est==1]

,NombreArchivo,DNI_y,DNI_final,dni_lev_azure_fin
0,MarzoCompras-0303072019121007_00008,000672966,100672966,1
1,MarzoCompras-0303072019121007_00010,09888016,09883016,1
4,MarzoCompras-0303072019121014_00331,08281360,08281361,1
7,MarzoCompras-0303072019121017_00459,08482279,08982279,1
8,MarzoCompras-0303072019121018_00497,45279490,45277490,1
21,MarzoCompras-0303072019121032_00998,161145220,16145220,1
22,MarzoCompras-0303072019125009_00002,71112750,71412750,1
29,MarzoCompras-0303072019125015_00264,06163611,:06163611,1
33,MarzoCompras-0303072019125023_00541,48388382,48388282,1
34,MarzoCompras-0303072019125027_00655,147395326,14739532,1
38,MarzoCompras-0303072019132553_00040,09380917,59380917,1
47,MarzoCompras-0303072019132605_00516,42361408,542361408,1
48,MarzoCompras-0303072019132605_00529,10153975,1015397,1
55,MarzoCompras-0303072019132613_00813,10524570,10024570,1
58,MarzoCompras-0303072019132617_00957,45346077,45346027,1
63,MarzoCompras-0303072019160820_00230,15684398,15689398,1
65,MarzoCompras-0303072019160824_00415,44881852,49881852,1
68,MarzoCompras-0303072019160826_00492,41079819,410}9819,1
79,MarzoCompras-0303072019160835_00870,41327322,41324322,1
80,MarzoCompras-0303072019160838_00971,10227377,10277377,1
84,MarzoCompras-0303072019164216_00097,41447180,41747180,1
95,MarzoCompras-0303072019164230_00714,46850740,46850710,1
102,MarzoCompras-0303072019164234_00886,09257372,0925737,1
106,MarzoCompras_0202072019164452_00148,43719909,043719909,1
109,MarzoCompras_0202072019164454_00234,7039147,07039147,1
124,MarzoCompras_0202072019164514_01001,75723839,25723839,1
130,MarzoCompras_0202072019182421_00327,07176178,07(76178,1
134,MarzoCompras_0202072019182425_00486,06382131,36382131,1
138,MarzoCompras_0202072019182434_00806,09789033,09189033,1
142,MarzoCompras_0202072019182438_00978,08363810,08363510,1
...,...,...,...,...
3030,MarzoCompras_XM_B5_20190710100536_00110,40195091,4019509,1
3032,MarzoCompras_XM_B5_20190710100538_00189,40557762,40557362,1
3037,MarzoCompras_XM_B5_20190710100546_00412,4110535,41110535,1
3038,MarzoCompras_XM_B5_20190710100546_00423,47827111,4782711,1
3039,MarzoCompras_XM_B5_20190710100547_00447,42180026,42180024,1
3041,MarzoCompras_XM_B5_20190710100548_00500,10024398,10024395,1
3047,MarzoCompras_XM_B5_20190710100559_00742,09930475,07930475,1
3050,MarzoCompras_XM_B5_20190710100606_00930,9138120,09138120,1
3051,MarzoCompras_XM_B5_20190710100606_00935,04138120,09138120,1
3052,MarzoCompras_XM_B5_20190710103935_00108,73211217,73211277,1
3055,MarzoCompras_XM_B5_20190710103950_00552,47583987,47588987,1
3059,MarzoCompras_XM_B5_20190710103957_00684,43125948,43125#48,1
3066,MarzoCompras_XM_B5_20190710113155_00033,70395887,70395837,1
3068,MarzoCompras_XM_B5_20190710113158_00127,42282814,49282814,1
3069,MarzoCompras_XM_B5_20190710113158_00143,48582855,48582835,1
3071,MarzoCompras_XM_B5_20190710113212_00411,71296114,51296114,1
3075,MarzoCompras_XM_B5_20190710113215_00482,10115205,10113205,1
3086,MarzoCompras_XM_B5_20190710113240_01059,27988142,27989142,1
3104,MarzoCompras_XM_B5_20190710122838_00706,09573141,09573131,1
3109,MarzoCompras_XM_B5_20190710131700_00022,08461614,98461614,1
3118,MarzoCompras_XM_B5_20190710131710_00320,41450496,91450496,1
3119,MarzoCompras_XM_B5_20190710131710_00327,08669039,68669039,1
3132,MarzoCompras_XM_B5_20190710131746_00944,46493703,4649:3703,1
3133,MarzoCompras_XM_B5_20190710131746_00955,47333931,49333931,1
3134,MarzoCompras_XM_B5_20190710131746_00957,09380038,09300038,1
3135,MarzoCompras_XM_B5_20190710131747_01001,44250411,44250417,1
3137,MarzoCompras_XM_B5_20190710134528_00365,46177494,46147494,1
3144,MarzoCompras_XM_B5_20190710134539_00656,41942646,41042646,1
3157,MarzoCompras_XM_B5_20190710150317_00473,27988142,27988149,1
3158,MarzoCompras_XM_B5_20190710150320_00551,0181039940,01811039940,1

In [50]:
lev_dni_azure = total_comp_azure.groupby(['len_DNI_est']).agg({'NombreArchivo':'count'})
lev_dni_azure['porcentaje'] = np.round(lev_dni_azure['NombreArchivo'] * 100 / lev_dni_azure['NombreArchivo'].sum() , 2)
lev_dni_azure['cuenta'] = lev_dni_azure['NombreArchivo']
lev_dni_azure[['cuenta','porcentaje']]

             cuenta  porcentaje
len_DNI_est
0                88        2.78
1                25        0.79
2                 2        0.06
3                 2        0.06
4                 1        0.03
5                 1        0.03
6                 9        0.28
7               170        5.38
8              2389       75.60
9               146        4.62
10               20        0.63
11               19        0.60
12                6        0.19
13                2        0.06
14                8        0.25
15               38        1.20
16               84        2.66
17               91        2.88
18               16        0.51
19                9        0.28
21                2        0.06
22                4        0.13
23                7        0.22
24                4        0.13
25                7        0.22
26                4        0.13
27                2        0.06
28                2        0.06
30                1        0.03
34                1        0.03

## Detalle Telefono

In [127]:
total_comp_azure[['NombreArchivo','Telefono','telefono','tel_lev_azure']][total_comp_azure.len_tel_est==0]

,NombreArchivo,Telefono,telefono,tel_lev_azure
122,MarzoCompras_0202072019164511_00837,98083440,980834403,1
153,MarzoCompras_0203072019122719_00317,99803167,99903167,1
166,MarzoCompras_0203072019122734_00881,2764230,2764230,0
182,MarzoCompras_0203072019130749_00573,8975217JJ,997521755,3
191,MarzoCompras_AV_B3_20190705171107_00218,,5311830,7
241,MarzoCompras_AV_B3_20190708093427_00570,,991589375,9
245,MarzoCompras_AV_B3_20190708093431_00718,,989568657,9
264,MarzoCompras_AV_B3_20190708100700_00554,DN:19825169964646696,-,20
283,MarzoCompras_AV_B3_20190708103535_00284,906207081,986207081,1
285,MarzoCompras_AV_B3_20190708103538_00427,,,0
293,MarzoCompras_AV_B3_20190708105118_00044,984707023,984707023,0
363,MarzoCompras_AV_B4_20190708180930_00273,98687861,988879617,3
374,MarzoCompras_AV_B4_20190708180947_00859,987311423,987315423,1
393,MarzoCompras_AV_B4_20190709102238_00124,934811121,934811121,0
440,MarzoCompras_AV_B5_20190709163903_00499,,998387699,9
489,MarzoCompras_AV_B5_20190709174042_00904,92716944,977176944,2
522,MarzoCompras_AV_B5_20190710101429_00371,980534117,980534117,0
576,MarzoCompras_AV_B5_20190710120144_00664,926981348,926981348,0
581,MarzoCompras_AV_B5_20190710150935_00103,96394077,963440777,2
617,MarzoCompras_EL_B2_20190704114115_00074,,934502075,9
702,MarzoCompras_EL_B2_20190704150244_00752,5284926,5284926,0
716,MarzoCompras_EL_B2_20190704160728_00675,98751542,987315423,2
726,MarzoCompras_EL_B2_20190704173315_00260,987190704,987190704,0
779,MarzoCompras_EL_B2_20190705110734_00972,945051434,945051434,0
833,MarzoCompras_EL_B3_20190705145339_00740,95304764,953047642,1
870,MarzoCompras_EL_B3_20190705174808_00668,391932292,951932292,2
879,MarzoCompras_EL_B3_20190705184213_00217,925010051,935010051,1
914,MarzoCompras_EL_B3_20190705194051_00591,970786086,970786086,0
966,MarzoCompras_EL_B4_20190708134320_00134,,958320727,9
967,MarzoCompras_EL_B4_20190708134325_00302,99415578,994155787,1
...,...,...,...,...
2019,MarzoCompras_MD_B2_20190704105618_01000,983489903,983489903,0
2108,MarzoCompras_MD_B2_20190704143346_00685,St0p,5670293,6
2132,MarzoCompras_MD_B2_20190704154618_00141,,964238792,9
2186,MarzoCompras_MD_B2_20190704174833_00782,95114527,995114527,1
2219,MarzoCompras_MD_B2_20190705111751_00283,982335853,982335853,0
2225,MarzoCompras_MD_B2_20190705111800_00580,980534117,980534117,0
2226,MarzoCompras_MD_B2_20190705111800_00584,980534117,980534117,0
2243,MarzoCompras_MD_B2_20190705114420_00570,,996002029,9
2254,MarzoCompras_MD_B2_20190705114428_00862,980534117,980534117,0
2273,MarzoCompras_MD_B2_20190705121111_00727,5704732,5704732,0
2279,MarzoCompras_MD_B2_20190705124232_00029,20353,99035320,4
2388,MarzoCompras_MD_B4_20190708141252_00368,943822668,9433822668,1
2411,MarzoCompras_MD_B4_20190708144455_00293,99118Q277,991180277,1
2414,MarzoCompras_MD_B4_20190708144459_00416,9436677LG,943667716,2
2437,MarzoCompras_MD_B4_20190708151313_00750,(60347,960374779,4
2585,MarzoCompras_MD_B5_20190709162700_00343,Aunave1de1eT0neMZc4tes,,22
2598,MarzoCompras_MD_B5_20190709165112_00211,6088807,6088807,0
2607,MarzoCompras_MD_B5_20190709165123_00654,997315423,987315423,1
2628,MarzoCompras_MD_B5_20190709172401_00414,,2578675,7
2682,MarzoCompras_MD_B5_20190710100901_00552,964394708,964394708,0
2683,MarzoCompras_MD_B5_20190710100902_00598,27976948,979769418,2
2686,MarzoCompras_MD_B5_20190710100910_00868,987315423,987315423,0
2727,MarzoCompras_MD_B5_20190710121308_00096,943822668,943822668,0
2803,MarzoCompras_XM_B3_20190708095056_00836,,962599231,9
2809,MarzoCompras_XM_B3_20190708102549_00074,983106538,983506588,2
2926,MarzoCompras_XM_B5_20190709150934_00566,977615016,977615016,0
2944,MarzoCompras_XM_B5_20190709154939_00481,795206910,995206915,2
2973,MarzoCompras_XM_B5_20190709171349_00566,992370586,992370586,0
3056,MarzoCompras_XM_B5_20190710103950_00558,946192065,946192065,0
3115,MarzoCompras_XM_B5_20190710131705_00173,915372581,95372581,1

## Detalle E-mail

In [133]:
total_comp_azure[['NombreArchivo','Correo','email','mail_lev_azure']][total_comp_azure.mail_lev_azure==1]

,NombreArchivo,Correo,email,mail_lev_azure
41,MarzoCompras-0303072019132555_00124,pattychic_14.7@hotmail.com,pattychic_14_7@hotmail.com,1
45,MarzoCompras-0303072019132602_00385,alegna-19192@hotmail.com,alegna_19192@hotmail.com,1
61,MarzoCompras-0303072019132618_01004,renzorojasperu456@gmailcom,renzorojasperu456@gmail.com,1
132,MarzoCompras_0202072019182422_00336,dario-2203_19@hotmail.com,dario_2203_19@hotmail.com,1
172,MarzoCompras_0203072019130737_00134,diazmarin93@gmail.con,diazmarin93@gmail.com,1
200,MarzoCompras_AV_B3_20190705171124_00762,rojasaguirre@hotmail.com,rrojasaguirre@hotmail.com,1
218,MarzoCompras_AV_B3_20190705174256_00916,camucha-lora@hotmail.com,camucha_lora@hotmail.com,1
219,MarzoCompras_AV_B3_20190705174257_00961,daniebolanos@gmail.com,daniebolanosc@gmail.com,1
247,MarzoCompras_AV_B3_20190708093435_00850,norma23-12@hotmail.com,norma23:12@hotmail.com,1
263,MarzoCompras_AV_B3_20190708100659_00522,rosa.marquez.imf@gmail.com,rosa.marquez.rmf@gmail.com,1
318,MarzoCompras_AV_B4_20190708163723_00760,maucetun-12-45@hotmail.com,maucetan-12-45@hotmail.com,1
346,MarzoCompras_AV_B4_20190708174556_00414,christian.13.5@gmail.com,chriztian.13.5@gmail.com,1
348,MarzoCompras_AV_B4_20190708174556_00434,cyntigmontoya1016@hotmail.com,cyntiamontoya1016@hotmail.com,1
361,MarzoCompras_AV_B4_20190708180926_00143,hcanzianni@hotmail.con,hcanzianni@hotmail.com,1
363,MarzoCompras_AV_B4_20190708180930_00273,zevau@hotmail.com,zevaju@hotmail.com,1
372,MarzoCompras_AV_B4_20190708180945_00799,zeroxdz/2@gmail.com,zeroxdz12@gmail.com,1
375,MarzoCompras_AV_B4_20190708180948_00923,javier29-ms@hotmail.con,javier29-ms@hotmail.com,1
376,MarzoCompras_AV_B4_20190709094718_00006,machaly_12@hotmail.com,machely_12@hotmail.com,1
377,MarzoCompras_AV_B4_20190709094719_00030,villatecnicahotmail.com,villatecnic@hotmail.com,1
416,MarzoCompras_AV_B5_20190709155410_00402,solmakeup.seyto@gmail.com,solmakeup.seytu@gmail.com,1
443,MarzoCompras_AV_B5_20190709163906_00624,quida-jj@hotmail.com,quida_jj@hotmail.com,1
446,MarzoCompras_AV_B5_20190709163909_00714,evelyn-@hotmail.com,evelyn-i@hotmail.com,1
448,MarzoCompras_AV_B5_20190709163913_00857,ervw@hotmail.com,ervw1@hotmail.com,1
457,MarzoCompras_AV_B5_20190709171357_00346,jhostin.2110@hotmail.com,jhostin_2110@hotmail.com,1
477,MarzoCompras_AV_B5_20190709174024_00326,ingridlopez.agmail.com,ingridlopez.a@gmail.com,1
484,MarzoCompras_AV_B5_20190709174037_00724,marvalentinehotmail.com,marvalentine@hotmail.com,1
498,MarzoCompras_AV_B5_20190709180615_00479,tefa.alcho26@outbook.com,tefa.alcho26@outlook.com,1
505,MarzoCompras_AV_B5_20190709180621_00669,jsofore@hotmail.com,jsotore@hotmail.com,1
516,MarzoCompras_AV_B5_20190710101417_00009,-jzcardenas@hotmail.com,jzcardenas@hotmail.com,1
541,MarzoCompras_AV_B5_20190710105233_00650,valerytours@hotmail.com,valerytours@ hotmail.com,1
...,...,...,...,...
2824,MarzoCompras_XM_B3_20190708102750_00683,virgis12@gmail.com,virgi312@gmail.com,1
2828,MarzoCompras_XM_B3_20190708102759_00857,yvonecs@hotmail.com,yvonecs@ hotmail.com,1
2841,MarzoCompras_XM_B4_20190708122348_00282,attha@hotmail.com,gttha@hotmail.com,1
2848,MarzoCompras_XM_B4_20190708122410_00634,marolynve@hotmail.com,marolynvc@hotmail.com,1
2861,MarzoCompras_XM_B4_20190708153329_00276,olenkadwanagmail.com,olenkadwan@gmail.com,1
2866,MarzoCompras_XM_B4_20190708153338_00530,tubasca@hotmail.com,lubasca@hotmail.com,1
2873,MarzoCompras_XM_B4_20190708153357_00986,cum1403@hotmail.com,cvm1403@hotmail.com,1
2880,MarzoCompras_XM_B4_20190708165841_00245,charoriverst.@gmail.com,charoriverat.@gmail.com,1
2897,MarzoCompras_XM_B4_20190709095500_00170,alexandra17020hotmail.com,alexandra1702@hotmail.com,1
2906,MarzoCompras_XM_B4_20190709095648_00635,"martha,ap9@hotmail.com",martha_ap9@hotmail.com,1
2935,MarzoCompras_XM_B5_20190709154921_00041,ahonoresmagmail.com,ahonoresm@gmail.com,1
2942,MarzoCompras_XM_B5_20190709154938_00460,jovipa-123@hotmail.com,jovipa_123@hotmail.com,1
2946,MarzoCompras_XM_B5_20190709154944_00593,jenny/61@hotmail.com,jenny161@hotmail.com,1
2960,MarzoCompras_XM_B5_20190709163308_00210,widrogo-56@hotmail.com,widrogo_56@hotmail.com,1
2961,MarzoCompras_XM_B5_20190709163315_00437,evi-libra@hotmail.com,evi_libra@hotmail.com,1
2966,MarzoCompras_XM_B5_20190709171330_00050,johnght@gmail.com,johngbt@gmail.com,1
2970,MarzoCompras_XM_B5_20190709171342_00423,norabravot@gmail.com,norabrvot@gmail.com,1
2983,MarzoCompras_XM_B5_20190709180545_00045,mini-milagros@hotmail.com,mini_milagros@hotmail.com,1
3009,MarzoCompras_XM_B5_20190709190715_00169,steveen0921@hotmail.com,steveen0911@hotmail.com,1
3015,MarzoCompras_XM_B5_20190709190724_00413,felixg13@gmail.com,felixjg13@gmail.com,1
3034,MarzoCompras_XM_B5_20190710100540_00254,alegna-19192@hotmail.com,alegna_19192@hotmail.com,1
3045,MarzoCompras_XM_B5_20190710100555_00686,divasdelvalle@hotmail.com,divosdelvalle@hotmail.com,1
3068,MarzoCompras_XM_B5_20190710113158_00127,kat2070ohotmail.com,kat2070@hotmail.com,1
3088,MarzoCompras_XM_B5_20190710113243_01134,rosa-ce96@hotmail.com,rosa_ce96@hotmail.com,1
3096,MarzoCompras_XM_B5_20190710122821_00274,rusio.cc@hotmail.com,lusio.cc@hotmail.com,1
3099,MarzoCompras_XM_B5_20190710122827_00458,zbulejehotmail.com,zbuleje@hotmail.com,1
3102,MarzoCompras_XM_B5_20190710122833_00566,yuonecs@hotmail.com,yvonecs@hotmail.com,1
3133,MarzoCompras_XM_B5_20190710131746_00955,ashley_sa_0609@hotmail.com,ashley_sg_0609@hotmail.com,1
3136,MarzoCompras_XM_B5_20190710134517_00021,estefaniall6hotmail.com,estefaniall6@hotmail.com,1
3154,MarzoCompras_XM_B5_20190710150308_00238,nancy.mendoza@sps.com,nancy.mendoza@sgs.com,1

## Medicion DNI

In [78]:
lev_dni_azure = total_comp_azure.groupby(['dni_lev_azure_fin']).agg({'NombreArchivo':'count'})
lev_dni_azure['porcentaje'] = np.round(lev_dni_azure['NombreArchivo'] * 100 / lev_dni_azure['NombreArchivo'].sum() , 2)
lev_dni_azure['cuenta'] = lev_dni_azure['NombreArchivo']
lev_dni_azure[['cuenta','porcentaje']]

                   cuenta  porcentaje
dni_lev_azure_fin
0                    1847       58.45
1                     728       23.04
2                     280        8.86
3                     104        3.29
4                      46        1.46
5                      20        0.63
6                      15        0.47
7                      20        0.63
8                      92        2.91
9                       4        0.13
10                      2        0.06
11                      1        0.03
12                      1        0.03

## Medición Telefono

In [79]:
tel_dni_azure = total_comp_azure.groupby(['tel_lev_azure']).agg({'NombreArchivo':'count'})
tel_dni_azure['porcentaje'] = np.round(tel_dni_azure['NombreArchivo'] * 100 / tel_dni_azure['NombreArchivo'].sum() , 2)
tel_dni_azure['cuenta'] = tel_dni_azure['NombreArchivo']
tel_dni_azure[['cuenta','porcentaje']]

               cuenta  porcentaje
tel_lev_azure
0                1705       53.96
1                 833       26.36
2                 311        9.84
3                 118        3.73
4                  51        1.61
5                  10        0.32
6                   9        0.28
7                  19        0.60
8                  13        0.41
9                  62        1.96
10                 11        0.35
11                  5        0.16
12                  4        0.13
13                  1        0.03
14                  1        0.03
17                  1        0.03
20                  1        0.03
22                  1        0.03
25                  1        0.03
28                  2        0.06
29                  1        0.03

## Medición E-mail

In [134]:
mail_dni_azure = total_comp_azure.groupby(['mail_lev_azure']).agg({'NombreArchivo':'count'})
mail_dni_azure['porcentaje'] = np.round(mail_dni_azure['NombreArchivo'] * 100 / mail_dni_azure['NombreArchivo'].sum() , 2)
mail_dni_azure['cuenta'] = mail_dni_azure['NombreArchivo']
mail_dni_azure[['cuenta','porcentaje']]

                cuenta  porcentaje
mail_lev_azure
0                 1325       41.93
1                  228        7.22
2                  238        7.53
3                  214        6.77
4                  202        6.39
5                  184        5.82
6                  153        4.84
7                  122        3.86
8                   94        2.97
9                   64        2.03
10                  68        2.15
11                  55        1.74
12                  40        1.27
13                  32        1.01
14                  22        0.70
15                  12        0.38
16                  12        0.38
17                  10        0.32
18                   9        0.28
19                  11        0.35
20                  17        0.54
21                   8        0.25
22                  10        0.32
23                   8        0.25
24                   7        0.22
25                   7        0.22
26                   3        0.09
27                   1        0.03
28                   1        0.03
29                   2        0.06
30                   1        0.03

## Parametro DNI

In [81]:
for i in range(40, 92, 1):
    param_dni = total_comp_azure[['NombreArchivo','DNI_y','DNI_final','AcertividadDNI']]
    # param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
    param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=i,param_dni.DNI_final.apply(len)==8), 1, 0)
    param_dni['trues_real'] = np.where(param_dni['DNI_final']==param_dni['DNI_y'], 1, 0)
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

40 se tiene 0.84 0.58
41 se tiene 0.84 0.58
42 se tiene 0.84 0.58
43 se tiene 0.84 0.58
44 se tiene 0.84 0.58
45 se tiene 0.84 0.58
46 se tiene 0.84 0.58
47 se tiene 0.84 0.58
48 se tiene 0.84 0.58
49 se tiene 0.84 0.58
50 se tiene 0.84 0.58
51 se tiene 0.84 0.58
52 se tiene 0.84 0.58
53 se tiene 0.84 0.58
54 se tiene 0.84 0.58
55 se tiene 0.84 0.58
56 se tiene 0.84 0.58
57 se tiene 0.84 0.58
58 se tiene 0.84 0.58
59 se tiene 0.84 0.58
60 se tiene 0.84 0.58
61 se tiene 0.84 0.58
62 se tiene 0.84 0.58
63 se tiene 0.84 0.58
64 se tiene 0.84 0.58
65 se tiene 0.84 0.58
66 se tiene 0.84 0.58
67 se tiene 0.84 0.58
68 se tiene 0.84 0.58
69 se tiene 0.84 0.58
70 se tiene 0.84 0.58
71 se tiene 0.56 0.58
72 se tiene 0.56 0.58
73 se tiene 0.56 0.58
74 se tiene 0.55 0.58
75 se tiene 0.54 0.58
76 se tiene 0.51 0.58
77 se tiene 0.44 0.58
78 se tiene 0.43 0.58
79 se tiene 0.41 0.58
80 se tiene 0.4 0.58
81 se tiene 0.27 0.58
82 se tiene 0.25 0.58
83 se tiene 0.23 0.58
84 se tiene 0.18 0.58
85 se tiene 0.17 0.58
86 se tiene 0.14 0.58
87 se tiene 0.13 0.58
88 se tiene 0.13 0.58
89 se tiene 0.13 0.58
90 se tiene 0.13 0.58
91 se tiene 0.0 0.58

In [95]:
param_dni = total_comp_azure[['NombreArchivo','DNI_y','DNI_final','AcertividadDNI']]

param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=67,param_dni.DNI_final.apply(len)==8), 1, 0)
param_dni['trues_real'] = np.where(param_dni['DNI_final']==param_dni['DNI_y'], 1, 0)
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

trues_real    0     1
trues_est
0           463    31
1           850  1816

In [96]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100, 2)

trues_real      0      1
trues_est
0           14.65   0.98
1           26.90  57.47

## Parámetro Telefono

In [98]:
for i in range(40, 92, 1):
    param_dni = total_comp_azure[['NombreArchivo','Telefono','telefono','AcertividadTelefono','tel_lev_azure']]
    param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadTelefono']>=i,param_dni.Telefono.apply(len)>=6), 1, 0)
    param_dni['trues_real'] = np.where(param_dni['Telefono']==param_dni['telefono'], 1, 0)
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

40 se tiene 0.97 0.54
41 se tiene 0.97 0.54
42 se tiene 0.97 0.54
43 se tiene 0.97 0.54
44 se tiene 0.97 0.54
45 se tiene 0.97 0.54
46 se tiene 0.97 0.54
47 se tiene 0.97 0.54
48 se tiene 0.97 0.54
49 se tiene 0.97 0.54
50 se tiene 0.97 0.54
51 se tiene 0.97 0.54
52 se tiene 0.97 0.54
53 se tiene 0.97 0.54
54 se tiene 0.97 0.54
55 se tiene 0.97 0.54
56 se tiene 0.97 0.54
57 se tiene 0.97 0.54
58 se tiene 0.97 0.54
59 se tiene 0.97 0.54
60 se tiene 0.97 0.54
61 se tiene 0.97 0.54
62 se tiene 0.97 0.54
63 se tiene 0.97 0.54
64 se tiene 0.97 0.54
65 se tiene 0.97 0.54
66 se tiene 0.97 0.54
67 se tiene 0.97 0.54
68 se tiene 0.97 0.54
69 se tiene 0.97 0.54
70 se tiene 0.97 0.54
71 se tiene 0.65 0.54
72 se tiene 0.65 0.54
73 se tiene 0.64 0.54
74 se tiene 0.63 0.54
75 se tiene 0.61 0.54
76 se tiene 0.58 0.54
77 se tiene 0.51 0.54
78 se tiene 0.5 0.54
79 se tiene 0.47 0.54
80 se tiene 0.46 0.54
81 se tiene 0.3 0.54
82 se tiene 0.29 0.54
83 se tiene 0.27 0.54
84 se tiene 0.19 0.54
85 se tiene 0.19 0.54
86 se tiene 0.16 0.54
87 se tiene 0.14 0.54
88 se tiene 0.13 0.54
89 se tiene 0.13 0.54
90 se tiene 0.13 0.54
91 se tiene 0.0 0.54

In [121]:
param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadTelefono']>=77,param_dni.Telefono.apply(len)>=6), 1, 0)
param_dni['trues_real'] = np.where(param_dni['Telefono']==param_dni['telefono'], 1, 0)
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

trues_real    0     1
trues_est
0           903   655
1           552  1050

In [122]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100,2)

trues_real      0      1
trues_est
0           28.58  20.73
1           17.47  33.23

## Parámetro E-mail

In [124]:
for i in range(40, 92, 1):
    param_dni = total_comp_azure[['NombreArchivo','Correo','email','AcertividadCorreo','mail_lev_azure']]
    param_dni['trues_est'] = np.where(param_dni['AcertividadCorreo']>=i, 1, 0)
    param_dni['trues_real'] = np.where(param_dni['Correo']==param_dni['email'], 1, 0)
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

40 se tiene 0.6 0.4
41 se tiene 0.6 0.4
42 se tiene 0.6 0.4
43 se tiene 0.6 0.4
44 se tiene 0.6 0.4
45 se tiene 0.6 0.4
46 se tiene 0.6 0.4
47 se tiene 0.6 0.4
48 se tiene 0.6 0.4
49 se tiene 0.6 0.4
50 se tiene 0.6 0.4
51 se tiene 0.6 0.4
52 se tiene 0.6 0.4
53 se tiene 0.6 0.4
54 se tiene 0.6 0.4
55 se tiene 0.6 0.4
56 se tiene 0.6 0.4
57 se tiene 0.6 0.4
58 se tiene 0.6 0.4
59 se tiene 0.6 0.4
60 se tiene 0.6 0.4
61 se tiene 0.6 0.4
62 se tiene 0.6 0.4
63 se tiene 0.6 0.4
64 se tiene 0.6 0.4
65 se tiene 0.6 0.4
66 se tiene 0.6 0.4
67 se tiene 0.6 0.4
68 se tiene 0.6 0.4
69 se tiene 0.6 0.4
70 se tiene 0.6 0.4
71 se tiene 0.4 0.4
72 se tiene 0.4 0.4
73 se tiene 0.39 0.4
74 se tiene 0.37 0.4
75 se tiene 0.32 0.4
76 se tiene 0.25 0.4
77 se tiene 0.18 0.4
78 se tiene 0.18 0.4
79 se tiene 0.14 0.4
80 se tiene 0.14 0.4
81 se tiene 0.08 0.4
82 se tiene 0.08 0.4
83 se tiene 0.06 0.4
84 se tiene 0.04 0.4
85 se tiene 0.04 0.4
86 se tiene 0.03 0.4
87 se tiene 0.03 0.4
88 se tiene 0.02 0.4
89 se tiene 0.02 0.4
90 se tiene 0.02 0.4
91 se tiene 0.0 0.4

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [125]:
param_dni['trues_est'] = np.where(param_dni['AcertividadCorreo']>=77, 1, 0)
param_dni['trues_real'] = np.where(param_dni['Correo']==param_dni['email'], 1, 0)
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

trues_real     0     1
trues_est
0           1372  1216
1            518    54

In [126]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100,2)

trues_real      0      1
trues_est
0           43.42  38.48
1           16.39   1.71