In [18]:
import pandas as pd
from os import getcwd
import numpy as np

In [4]:
# Folder params
WORK_DIRECTORY = getcwd()
ARRAYS_PATH = WORK_DIRECTORY + '\\areas_result\\'
TMP_PATH = WORK_DIRECTORY + '\\temps\\'
LOCAL_PATH = WORK_DIRECTORY + '\\local_result\\'

In [56]:
def center_of(bounding_box):
    xs = np.array([bounding_box[0],bounding_box[2],bounding_box[4],bounding_box[6]])
    ys = np.array([bounding_box[1],bounding_box[3],bounding_box[5],bounding_box[7]])
    return int(xs.sum() / xs.size) , int(ys.sum() / ys.size)


def dni_rect_from_ce(x, y, cv2_v, img, areas_dict, lines_dict):
    w = img.shape[1]
    h = img.shape[0]

    color = (0, 0, 255)
    thicknes = 2
    fields = []
    res_dict = {}

    for key in areas_dict.keys():
        tras_vector = np.array([areas_dict[key]['tras_x'], areas_dict[key]['tras_y']])
        point = np.array([x, y]) + tras_vector
        point_2 = point + np.array([areas_dict[key]['width'], areas_dict[key]['height']])

        point = np.where(point<=0,0,point)
        point_2[0] = w if point_2[0]>= w else point_2[0]
        point_2[1] = h if point_2[1]>= h else point_2[1]

        cv2_v.rectangle(img,(point[0],point[1]),(point_2[0],point_2[1]),color,thicknes)
        res_dict[key] = (point, point_2)
        # print('{} {}'.format(point,point_2))

    for key in lines_dict.keys():
        tras_vector = np.array([lines_dict[key]['tras_x'], lines_dict[key]['tras_y']])
        point = np.array([x, y]) + tras_vector
        point_2 = point + np.array([lines_dict[key]['width'], lines_dict[key]['height']])

        point = np.where(point<=0,0,point)
        point_2[0] = w if point_2[0]>= w else point_2[0]
        point_2[1] = h if point_2[1]>= h else point_2[1]

        # cv2_v.rectangle(img,(point[0],point[1]),(point_2[0],point_2[1]),color,thicknes)
        res_dict[key] = (point, point_2)

    # return res_dict['dni'][0], res_dict['dni'][1], res_dict['tel'][0], res_dict['tel'][1]
    return res_dict


def is_in_box(center, top_left_point, bottom_right_point):
    x = center[0] > top_left_point[0] and center[0] < bottom_right_point[0]
    y = center[1] > top_left_point[1] and center[1] < bottom_right_point[1]
    return (x and y)


def get_fields_from_json(azure_json, areas_dict):
    fields = {}
    scores = {}
    j=0

    # Setting empty arrays in result
    for key in areas_dict.keys():
        fields[key] = []
        scores[key] = []

    for line in azure_json['recognitionResult']['lines']:
        j += 1
        # print('Line {}: {},{}'.format(j,line['text'],line['boundingBox']))

        # Drawing areas
        cv2.rectangle(image,(line['boundingBox'][0],line['boundingBox'][1]),(line['boundingBox'][2],line['boundingBox'][5]),(0,0,0),1)
        cv2.circle(image,center_of(line['boundingBox']), 4, (0,255,255), -1)

        # Searching in areas_dict
        c = center_of(line['boundingBox'])
        t = line['text']
        ws = []
        scos = []
        for w in line['words']:
            ws.append(w['text'])
            try:
                scos.append(w['confidence'])
            except:
                scos.append('Normal')

        for key in areas_dict.keys():
            # print('C {} está en {}?'.format(c, areas_dict[key]))
            if is_in_box(c, areas_dict[key][0], areas_dict[key][1]):
                # print('String: {} --> {}'.format(t,key))
                fields[key].append(ws)
                scores[key].append(scos)

    return fields, scores


def basic_digit_clean(string, num_eqs):
    for k in num_eqs.keys():
        string = string.replace(k, num_eqs[k])
    return string


def basic_field_clean(string):
    a = string.find(':')
    if a == len(string)-1:
        return string[:-1]
    else:
        if a >= 0:
            return string[a + 1:]
        return string


def post_num_field(l_field, l_score, banned, num_eqs={}, separator=""):
    value = ""
    score = 0.0
    ct = 0

    for i in range(len(l_field)):
        for j in range(len(l_field[i])):
            # print(j)
            if l_field[i][j] not in banned:
                ct += 1
                value += separator + l_field[i][j]
                # print('{}'.format(l_score[i][j]))
                score += eqs[l_score[i][j]]
    value = basic_digit_clean(value, num_eqs)
    return (value.strip(), score / ct) if ct > 0 else (value, 0.0)


def get_dni_from_line(string, num_eqs):
    a = string.find('DNI:')
    b = string.find('Telefono:')
    if a >= 0 and b >= 0:
        return basic_digit_clean(string[a+len('DNI:'):b],num_eqs)
    a = string.find('DNI')
    b = string.find('Telefono')
    if a >= 0 and b >= 0:
        return basic_digit_clean(string[a+len('DNI'):b],num_eqs)
    else:
        return ""


def get_tel_from_line(string, num_eqs):
    b = string.find('Telefono:')
    if b >= 0:
        return basic_digit_clean(string[b+len('Telefono:'):],num_eqs)
    b = string.find('Telefono')
    if b >= 0:
        return basic_digit_clean(string[b+len('Telefono'):],num_eqs)
    else:
        return ""


def clean_letters(word):
    ret = ""
    for c in word:
        if '0' <= c and c <= '9':
            ret += str(c)
    return ret


def has_letters(word):
    ret = True
    for c in word:
        if not '0' <= c and c <= '9':
            return not False
    return not True

def digits(word):
    for c in word:
        if not c.isdigit():
            return False
    return True

In [57]:
digits(':25595015')

False

In [50]:
has_letters(':25595015')

False

In [65]:
clean_letters(':25595015')

'25595015'

In [55]:
':'.isdigit()

False

In [7]:
# Getting the local result
local_result = pd.read_csv(LOCAL_PATH+'result.csv', dtype={'DNI':str, 'Telefono':str})

In [10]:
local_result.head(2)

,idCupon,NombreArchivo,DNI,AcertividadDNI,Telefono,AcertividadTelefono,idCampania,idUsuario,idEstado,idBatch,LocalJsonOCR,Ruta,FechaHora,Azure
0,133690,MarzoCompras_AV_B3_20190708103533_00199,41417807,56.03,414400970,63.22,4,1,1,20191030134239,"{""dni_area"": [93, 433, 126, 201], ""telefono_ar...",/cupones/marzo_compras_2018/04/B3/MarzoCompras...,2019-10-30 14:39:58.470973,1
1,133691,MarzoCompras_AV_B3_20190708103533_00200,46682740,62.45,943524335,73.95,4,1,1,20191030134239,"{""dni_area"": [87, 427, 131, 206], ""telefono_ar...",/cupones/marzo_compras_2018/04/B3/MarzoCompras...,2019-10-30 14:39:58.470973,1

In [32]:
# Getting the local result
ruta='C:\\git\\cuponesWong\\CuponesWong\\notebooks_flow\\azure_result\\'
bd_azure = pd.read_csv(ruta+'azure_result.csv', dtype={'DNI':str, 'Telefono':str})
bd_azure = bd_azure.fillna('')

In [33]:
bd_azure.columns

Index(['NombreArchivo', 'DNI', 'AcertividadDNI', 'Telefono',
       'AcertividadTelefono', 'NombreCompleto', 'AcertividadNombreCompleto',
       'Direccion', 'AcertividadDireccion', 'Distrito', 'AcertividadDistrito',
       'Correo', 'AcertividadCorreo', 'AzureJsonOCR', 'idCampania',
       'idUsuario', 'idEstado'],
      dtype='object')

In [60]:
bd_azure['dni_letters'] = bd_azure['DNI'].apply(has_letters)
bd_azure['dni_digs'] = bd_azure['DNI'].apply(digits)

In [61]:
bd_azure[bd_azure['NombreArchivo']=='MarzoCompras_AV_B3_20190708103537_00380']

,NombreArchivo,DNI,AcertividadDNI,Telefono,AcertividadTelefono,NombreCompleto,AcertividadNombreCompleto,Direccion,AcertividadDireccion,Distrito,AcertividadDistrito,Correo,AcertividadCorreo,AzureJsonOCR,idCampania,idUsuario,idEstado,dni_letters,dni_letters2,dni_digs
132,MarzoCompras_AV_B3_20190708103537_00380,:25595015,60.0,43252068,0.0,Nombres y Apellidos. JOLLA GLOUANA ClesiAS MAR...,66.0,AS. QUArdiA ChALACA 1868 urb. ANGAMOS,70.0,SELLAUis TA - CALLAO,75.0,,0.0,"{""status"": ""Succeeded"", ""recognitionResult"": {...",4,1,2,False,False,False

In [64]:
bd_azure[np.logical_and(np.logical_not(bd_azure['dni_digs']),bd_azure['AcertividadDNI']>0.0)][['DNI','AcertividadDNI']]

             DNI  AcertividadDNI
6       4073s020       60.000000
55      42166x23       80.000000
125     701bass1       60.000000
132    :25595015       60.000000
174    :25715821       70.909091
...          ...             ...
39800   Y2385808       70.000000
39829  :08281361       70.000000
39875   t0172822       80.000000
39957   DT586779       71.250000
39984  :09920021       77.500000

[2198 rows x 2 columns]

In [26]:
# Merge for updating in database
data_merge = pd.merge(bd_azure, local_result[['idCupon','NombreArchivo','DNI','AcertividadDNI','Telefono','AcertividadTelefono']], how='left', on='NombreArchivo',)
data_merge['DNI_def'] = np.where(data_merge['AcertividadDNI_y']>=89.00,
                                 data_merge['DNI_y'],
                                 np.where(np.logical_and(data_merge['AcertividadDNI_x'] == 0.0, data_merge['AcertividadDNI_y'] != 0.0),
                                          data_merge['DNI_y'],
                                          data_merge['DNI_x']
                                         )
                                )
data_merge['AcertDNI_def'] = np.where(data_merge['AcertividadDNI_y']>=89.00,
                                 data_merge['AcertividadDNI_y'],
                                 np.where(np.logical_and(data_merge['AcertividadDNI_x'] == 0.0, data_merge['AcertividadDNI_y'] != 0.0),
                                          data_merge['AcertividadDNI_y'],
                                          data_merge['AcertividadDNI_x']
                                         )
                                )
data_merge['Telefono_def'] = np.where(data_merge['AcertividadTelefono_y']>=90.00,
                                 data_merge['Telefono_y'],
                                 np.where(np.logical_and(data_merge['AcertividadTelefono_x'] == 0.0, data_merge['AcertividadTelefono_y'] != 0.0),
                                          data_merge['Telefono_y'],
                                          data_merge['Telefono_x']
                                         )
                                )
data_merge['AcertTelefono_def'] = np.where(data_merge['AcertividadTelefono_y']>=90.00,
                                 data_merge['AcertividadTelefono_y'],
                                 np.where(np.logical_and(data_merge['AcertividadTelefono_x'] == 0.0, data_merge['AcertividadTelefono_y'] != 0.0),
                                          data_merge['AcertividadTelefono_y'],
                                          data_merge['AcertividadTelefono_x']
                                         )
                                )

In [25]:
data_merge[['DNI_y','DNI_x','AcertividadDNI_y','AcertividadDNI_x','DNI_def','AcertDNI_def']][data_merge['AcertividadDNI_x']==0]

,DNI_y,DNI_x,AcertividadDNI_y,AcertividadDNI_x,DNI_def,AcertDNI_def
3,7175548,7755981,0.00,0.0,7755981,0.00
8,745379266,4537997690,0.00,0.0,4537997690,0.00
10,72262144,936813,54.61,0.0,72262144,54.61
24,727,7288791,0.00,0.0,7288791,0.00
30,2644406,NaN,0.00,0.0,NaN,0.00
37,32935,IN0,0.00,0.0,IN0,0.00
42,09922622,0993262,58.71,0.0,09922622,58.71
53,10398,NaN,0.00,0.0,NaN,0.00
63,7755503,NaN,0.00,0.0,NaN,0.00
73,1001022,1004109,0.00,0.0,1004109,0.00
88,06134223,1,84.21,0.0,06134223,84.21
92,07477694,0747869,78.23,0.0,07477694,78.23
98,65355700,5855206,77.98,0.0,65355700,77.98
100,NaN,NaN,0.00,0.0,NaN,0.00
102,08550645,089645,57.47,0.0,08550645,57.47
114,43202024,_,91.30,0.0,43202024,91.30
128,110593228,1659327,0.00,0.0,1659327,0.00
131,67062787,NaN,61.11,0.0,67062787,61.11
150,74208045,_,80.63,0.0,74208045,80.63
156,0840853,_,0.00,0.0,_,0.00
159,074285275,NaN,0.00,0.0,NaN,0.00
162,437432,_,0.00,0.0,_,0.00
164,4374356,4374356,0.00,0.0,4374356,0.00
166,00,NaN,0.00,0.0,NaN,0.00
168,374356,4374356,0.00,0.0,4374356,0.00
170,374256,437435G,0.00,0.0,437435G,0.00
175,1558,25(56351,0.00,0.0,25(56351,0.00
176,25575777,255(5179,84.82,0.0,25575777,84.82
180,17571724,5524486,55.96,0.0,17571724,55.96
196,222602746,NaN,0.00,0.0,NaN,0.00
...,...,...,...,...,...,...
39742,73988048,#73988042,79.15,0.0,73988048,79.15
39751,000704404,NaN,0.00,0.0,NaN,0.00
39753,080704441,NaN,0.00,0.0,NaN,0.00
39759,240311600,4831660,0.00,0.0,4831660,0.00
39764,08670441,086764,76.31,0.0,08670441,76.31
39770,42134334,4121343347,65.24,0.0,42134334,65.24
39775,7388274,3884294,0.00,0.0,3884294,0.00
39794,40044202,40(94293,65.21,0.0,40044202,65.21
39799,275587,4355889,0.00,0.0,4355889,0.00
39801,075506862,NaN,0.00,0.0,NaN,0.00
39816,09775245,0925315,55.49,0.0,09775245,55.49
39824,005588,4087688,0.00,0.0,4087688,0.00
39827,47705549,NaN,59.91,0.0,47705549,59.91
39830,NaN,NaN,0.00,0.0,NaN,0.00
39844,40322183,DN140329183,72.21,0.0,40322183,72.21
39858,06254611,0625461,76.45,0.0,06254611,76.45
39859,0625461,0625461,0.00,0.0,0625461,0.00
39865,08795602,DNI08795602,88.98,0.0,08795602,88.98
39874,2205716,4458916,0.00,0.0,4458916,0.00
39879,1815079,INQ,0.00,0.0,INQ,0.00
39882,4331515,443595(5,0.00,0.0,443595(5,0.00
39885,809,1851920,0.00,0.0,1851920,0.00
39911,10728562,(0228562,55.78,0.0,10728562,55.78
39928,62257973,(6259973,58.88,0.0,62257973,58.88
39929,002535772,:,0.00,0.0,:,0.00
39930,0022772,3973,0.00,0.0,3973,0.00
39936,5720073,0N(26239973,0.00,0.0,0N(26239973,0.00
39939,NaN,NaN,0.00,0.0,NaN,0.00
39940,NaN,NaN,0.00,0.0,NaN,0.00
39947,23654622,_,77.85,0.0,23654622,77.85

In [21]:
data_merge[['Telefono_y','Telefono_x','AcertividadTelefono_y','AcertividadTelefono_x','Telefono_def','AcertTelefono_def']]

,Telefono_y,Telefono_x,AcertividadTelefono_y,AcertividadTelefono_x,Telefono_def,AcertTelefono_def
0,414400970,914486978,63.22,90.0,914486978,90.00
1,943524335,943524335,73.95,81.0,943524335,81.00
2,74803744,948333444,75.69,70.0,948333444,70.00
3,9452570,945257940,85.09,60.0,945257940,60.00
4,977120001,997128001,70.65,60.0,997128001,60.00
5,953723816,953723816,74.41,60.0,953723816,60.00
6,74109847,9401918497,50.31,0.0,9401918497,0.00
7,943524335,943524335,58.05,75.0,943524335,75.00
8,22533937,922583937,66.89,67.5,922583937,67.50
9,75200507,93XX0x(2,87.44,0.0,93XX0x(2,0.00
10,7536277117,NaN,0.00,0.0,NaN,0.00
11,577553524,979553921,57.39,60.0,979553921,60.00
12,772033045,992833643,63.95,90.0,992833643,90.00
13,764274774,769674379,59.46,60.0,769674379,60.00
14,745370274,945390374,52.77,75.0,945390374,75.00
15,7750315,93756315,63.59,0.0,93756315,0.00
16,76470701,464787816,82.94,60.0,464787816,60.00
17,000950519,99e950519,62.38,90.0,99e950519,90.00
18,990950510,990950519,87.24,75.0,990950519,75.00
19,783814,2838143,65.45,78.0,2838143,78.00
20,1706855,2749855,81.25,75.0,2749855,75.00
21,740216927,940216927,53.95,75.0,940216927,75.00
22,40210707,948216927,53.66,82.5,948216927,82.50
23,552920727,95292072,65.20,0.0,95292072,0.00
24,983247229,983497229,61.99,80.0,983497229,80.00
25,649070027,949095022,61.01,60.0,949095022,60.00
26,704344777,984344777,90.22,75.0,704344777,90.22
27,704565704,989563767,66.69,70.0,989563767,70.00
28,074705404,979705964,71.30,82.5,979705964,82.50
29,977745420,99945438,74.80,0.0,99945438,0.00
...,...,...,...,...,...,...
39970,9573787,957398782,51.01,60.0,957398782,60.00
39971,9507715,915879185,82.56,72.0,915879185,72.00
39972,746085001,946885001,59.45,82.5,946885001,82.50
39973,7468851,94688500,86.04,0.0,94688500,0.00
39974,84354460,943541609,81.33,60.0,943541609,60.00
39975,003541007,943541609,54.45,60.0,943541609,60.00
39976,991752232,991252232,74.82,90.0,991252232,90.00
39977,97004502,97884502,58.64,0.0,97884502,0.00
39978,709101847,959101847,73.31,70.0,959101847,70.00
39979,5671447,56H1492,82.35,60.0,56H1492,60.00
39980,971077770,971922730,66.35,60.0,971922730,60.00
39981,940204321,940204381,79.88,90.0,940204381,90.00
39982,940207381,940204381,66.60,60.0,940204381,60.00
39983,970708581,940204387,79.83,60.0,940204387,60.00
39984,3507420,3809420,80.63,77.5,3809420,77.50
39985,16243006,961439906,62.56,60.0,961439906,60.00
39986,945772527,944572057,56.06,75.0,944572057,75.00
39987,44200741,942989414,53.30,60.0,942989414,60.00
39988,70709268,987989268,74.44,70.0,987989268,70.00
39989,724739268,987989268,58.48,75.0,987989268,75.00
39990,98778268,987989268,61.56,75.0,987989268,75.00
39991,97678753,993678953,75.70,90.0,993678953,90.00
39992,975933154,99593315,64.43,0.0,99593315,0.00
39993,990710054,980710034,64.05,75.0,980710034,75.00
39994,1466712,1346691,58.51,70.0,1346691,70.00
39995,91655000,94688500,91.63,0.0,91655000,91.63
39996,726085001,94688500,50.36,0.0,94688500,0.00
39997,746885001,946885001,59.52,82.5,946885001,82.50
39998,906005001,946885001,92.60,80.0,906005001,92.60
39999,746885001,94688500,62.69,0.0,94688500,0.00