In [3]:
# Importing db libraries
import pandas as pd
import sqlalchemy as sa
import pyodbc
import time
import numpy as np
import json

In [4]:
def get_cnn_value_from_json(json_local):
    json.load(json_local)

def stringfy(classes):
    r = ""
    for i in classes:
        r += str(i)
    return r.strip()

### M3100 procesado

In [5]:
m3100_pro = pd.read_csv('C:\\git\\cuponesWong\\CuponesWong\\notebooks_flow\\local_result\\result_new_train_with_line_full.csv', dtype={'DNI':str, 'Telefono':str})
m3100_pro = m3100_pro.fillna('')

In [6]:
m3100_pro['Azure'] = np.where(
    np.logical_and(
        np.logical_and(m3100_pro['DNI'].apply(len)==8, m3100_pro.AcertividadDNI>=97.0),
        np.logical_and(
            np.logical_and(m3100_pro['Telefono'].apply(len)<=9,m3100_pro['Telefono'].apply(len)>=6),
            m3100_pro.AcertividadTelefono>=97.0
            )
        ),
    0,
    1)

In [18]:
(m3100_pro[m3100_pro['DNI'].apply(len)==8]['idCupon'].values.size) / (3157)

0.6126069052898321

### M3100 real

In [7]:
m3100_real = pd.read_csv('D:\\GyS\\proyectos\\cuponesWong\\proceso_definitivo\\process\\muestra900\\levantamiento\\total.csv', dtype={'DNI':str, 'telefono':str})
m3100_real = m3100_real.fillna('')
m3100_real['NombreArchivo'] = m3100_real['nombre_archivo'].apply(lambda x: x[:-4])
m3100_real.head()

,Unnamed: 0,nombre_archivo,DNI,telefono,Observación,email,NombreArchivo
0,0,MarzoCompras_0202072019164448_00043.jpg,42650934,979754672,,Maicusi@hotmail.com,MarzoCompras_0202072019164448_00043
1,1,MarzoCompras_0202072019164454_00245.jpg,20996780,923540008,,,MarzoCompras_0202072019164454_00245
2,2,MarzoCompras_0202072019164458_00359.jpg,42051024,940445230,,jtrujillowong@outlook.com,MarzoCompras_0202072019164458_00359
3,3,MarzoCompras_0202072019164503_00537.jpg,40557762,987136744,,Micasu -80@Hotmail.com,MarzoCompras_0202072019164503_00537
4,4,MarzoCompras_0202072019164503_00546.jpg,08668202,995382267,,CAROLINA CM10_10@HOTMAIL.COM,MarzoCompras_0202072019164503_00546

In [8]:
total = pd.merge(m3100_pro, m3100_real, how='left', on='NombreArchivo')
# total['dni_yolo'] = total['LocalJsonOCR'].apply(lambda x: stringfy(json.loads(x)['dni_yolo']['values']))
# total['tel_yolo'] = total['LocalJsonOCR'].apply(lambda x: stringfy(json.loads(x)['telefono_yolo']['values']))
# total['acert_dni_mean'] = total['LocalJsonOCR'].apply(lambda x: np.array(json.loads(x)['dni_yolo']['scores']).sum()/(np.array(json.loads(x)['dni_yolo']['scores']).size * 100))
# total['acerts_dni'] = total['LocalJsonOCR'].apply(lambda x: json.loads(x)['dni_yolo']['scores'])
total.head()

,NombreArchivo,idCupon,DNI_x,AcertividadDNI,Telefono,AcertividadTelefono,idCampania,idUsuario,idEstado,LocalJsonOCR,Azure,Unnamed: 0,nombre_archivo,DNI_y,telefono,Observación,email
0,MarzoCompras-0303072019121007_00008,1000,600672266,0.00,08732143,93.30,4,1,1,"{""dni_cnn"": {""value"": ""600672266""}, ""telefono_...",1,2097,MarzoCompras-0303072019121007_00008.jpg,000672966,982331400,,karaujo71@hotmail.com
1,MarzoCompras-0303072019121007_00010,1001,49881016,96.30,2946428522,0.00,4,1,1,"{""dni_cnn"": {""value"": ""49881016""}, ""telefono_c...",1,889,MarzoCompras-0303072019121007_00010.jpg,09888016,946498597,,Mauricio280156@Hotmail.com
2,MarzoCompras-0303072019121007_00025,1002,04301500,96.18,4282182114,0.00,4,1,1,"{""dni_cnn"": {""value"": ""04301500""}, ""telefono_c...",1,1193,MarzoCompras-0303072019121007_00025.jpg,04015880,928489578,,-
3,MarzoCompras-0303072019121013_00265,1003,04310242,94.58,905973705,99.26,4,1,1,"{""dni_cnn"": {""value"": ""04310242""}, ""telefono_c...",1,890,MarzoCompras-0303072019121013_00265.jpg,09310742,985973705,,Jalina_9@yahoo.es
4,MarzoCompras-0303072019121014_00331,1004,0431060,0.00,9575602,89.67,4,1,1,"{""dni_cnn"": {""value"": ""0431060""}, ""telefono_cn...",1,585,MarzoCompras-0303072019121014_00331.jpg,08281360,949357892,,

# Lev DNI

In [11]:
total_dni = total[['NombreArchivo','DNI_x','DNI_y','AcertividadDNI']]
# total_dni['dni_lev'] = np_distance(total_dni['dni_yolo'],total_dni['DNI_y'])
# total_dni['dni_conj'] = np_improve(total_dni['dni_yolo'],total_dni['DNI_x'],total_dni['acerts_dni'])
# total_dni['dni_lev_conj'] = np_distance(total_dni['dni_conj'],total_dni['DNI_y'])
total_dni['dni_lev'] = np_distance(total_dni['DNI_x'],total_dni['DNI_y'])
total_dni.head()

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,NombreArchivo,DNI_x,DNI_y,AcertividadDNI,dni_lev
0,MarzoCompras-0303072019121007_00008,600672266,000672966,0.00,2
1,MarzoCompras-0303072019121007_00010,49881016,09888016,96.30,2
2,MarzoCompras-0303072019121007_00025,04301500,04015880,96.18,3
3,MarzoCompras-0303072019121013_00265,04310242,09310742,94.58,2
4,MarzoCompras-0303072019121014_00331,0431060,08281360,0.00,4

In [12]:
lev_dni = total_dni.groupby(['dni_lev']).agg({'NombreArchivo':'count'})
lev_dni['Porcentaje'] = np.round(lev_dni['NombreArchivo'] * 100 / lev_dni['NombreArchivo'].sum() , 2 )
lev_dni['Cuenta'] = lev_dni['NombreArchivo']
lev_dni[['Cuenta','Porcentaje']]

         Cuenta  Porcentaje
dni_lev
0           379       12.00
1           679       21.49
2           786       24.88
3           590       18.68
4           366       11.59
5           191        6.05
6           114        3.61
7            33        1.04
8            16        0.51
9             1        0.03
10            3        0.09
11            1        0.03

In [102]:
lev_dni_conj = total_dni.groupby(['dni_lev_conj']).agg({'NombreArchivo':'count'})
lev_dni_conj['perc'] = lev_dni_conj['NombreArchivo'] * 100 / lev_dni_conj['NombreArchivo'].sum()
lev_dni_conj

              NombreArchivo       perc
dni_lev_conj
0                       406  12.852168
1                       747  23.646724
2                       748  23.678379
3                       556  17.600506
4                       357  11.301045
5                       210   6.647673
6                        84   2.659069
7                        36   1.139601
8                        12   0.379867
9                         1   0.031656
11                        1   0.031656
13                        1   0.031656

In [115]:
lev_dni_cnn = total_dni.groupby(['dni_lev_cnn']).agg({'NombreArchivo':'count'})
lev_dni_cnn['perc'] = lev_dni_cnn['NombreArchivo'] * 100 / lev_dni_cnn['NombreArchivo'].sum()
lev_dni_cnn

             NombreArchivo       perc
dni_lev_cnn
0                      406  12.852168
1                      747  23.646724
2                      748  23.678379
3                      556  17.600506
4                      357  11.301045
5                      210   6.647673
6                       84   2.659069
7                       36   1.139601
8                       12   0.379867
9                        1   0.031656
11                       1   0.031656
13                       1   0.031656

# Lev Telefono

In [22]:
total_tel = total[['NombreArchivo','Telefono','telefono','AcertividadTelefono','tel_yolo']]
total_tel['tel_lev'] = np_distance(total_tel['Telefono'],total_tel['telefono'])
total_tel['tel_lev_yolo'] = np_distance(total_tel['tel_yolo'],total_tel['telefono'])
total_tel.head()

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,NombreArchivo,Telefono,telefono,AcertividadTelefono,tel_yolo,tel_lev,tel_lev_yolo
0,MarzoCompras-0303072019121007_00008,40736,982331400,0.00,70720,8,8
1,MarzoCompras-0303072019121007_00010,7469851,946498597,71.26,4467852,4,5
2,MarzoCompras-0303072019121007_00025,92070524,928489578,61.44,92070077,6,6
3,MarzoCompras-0303072019121013_00265,90023702,985973705,54.40,90023705,5,4
4,MarzoCompras-0303072019121014_00331,7459002,949357892,82.79,7057002,6,6

In [23]:
lev_tel = total_tel.groupby(['tel_lev']).agg({'NombreArchivo':'count'})
lev_tel['Porcentaje'] = np.round(lev_tel['NombreArchivo'] * 100 / lev_tel['NombreArchivo'].sum() , 2 )
lev_tel['Cuenta'] = lev_tel['NombreArchivo']
lev_tel[['Cuenta','Porcentaje']]

         Cuenta  Porcentaje
tel_lev
0           120        3.80
1           356       11.27
2           549       17.38
3           647       20.48
4           643       20.35
5           429       13.58
6           235        7.44
7           110        3.48
8            51        1.61
9            16        0.51
10            2        0.06
11            1        0.03

In [24]:
lev_tel_yolo = total_tel.groupby(['tel_lev_yolo']).agg({'NombreArchivo':'count'})
lev_tel_yolo['Porcentaje'] = np.round(lev_tel_yolo['NombreArchivo'] * 100 / lev_tel_yolo['NombreArchivo'].sum() , 2 )
lev_tel_yolo['Cuenta'] = lev_tel_yolo['NombreArchivo']
lev_tel_yolo[['Cuenta','Porcentaje']]

              Cuenta  Porcentaje
tel_lev_yolo
0                 61        1.93
1                191        6.05
2                374       11.84
3                597       18.90
4                676       21.40
5                569       18.01
6                389       12.31
7                194        6.14
8                 81        2.56
9                 20        0.63
10                 4        0.13
11                 2        0.06
12                 1        0.03

In [10]:
def aciertos_from_str(real, est):
    count = 0
    for i in range(len(real)):
        if real[i]==est[i]:
            count += 1
    return count

def distance(str1, str2):
    d=dict()
    for i in range(len(str1)+1):
        d[i]=dict()
        d[i][0]=i
    for i in range(len(str2)+1):
        d[0][i] = i
    for i in range(1, len(str1)+1):
        for j in range(1, len(str2)+1):
            d[i][j] = min(d[i][j-1]+1, d[i-1][j]+1, d[i-1][j-1]+(not str1[i-1] == str2[j-1]))
    return d[len(str1)][len(str2)]

def improve(num, num_pred, scores):
    res = ""
    for i in range(len(str(num))):
        if scores[i] >= 9400:
            res += str(str(num)[i])
        else:
            res += str(str(num_pred)[i])
    return res

np_aciertos_from_str = np.vectorize(aciertos_from_str)
np_distance = np.vectorize(distance)
np_improve = np.vectorize(improve)

### Levensthein DNI

In [24]:
total_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean','acerts_dni']]
total_dni

,NombreArchivo,DNI_x,dni_yolo,DNI_y,AcertividadDNI,acert_dni_mean,acerts_dni
0,MarzoCompras-0303072019121007_00008,00622926,00672766,000672966,93.76,97.308750,"[9918, 9957, 9851, 9376, 9971, 9601, 9767, 9406]"
1,MarzoCompras-0303072019121007_00010,0588806,0580504,09888016,0.00,77.671429,"[6123, 6384, 9777, 9938, 8264, 7833, 6051]"
2,MarzoCompras-0303072019121007_00025,04015560,04015000,04015880,60.25,88.405000,"[8678, 6025, 9630, 7339, 9627, 9851, 9654, 9920]"
3,MarzoCompras-0303072019121013_00265,031027,031022,09310742,0.00,75.090000,"[7661, 7926, 8730, 9320, 5001, 6416]"
4,MarzoCompras-0303072019121014_00331,082813622,002217602,08281360,0.00,84.056667,"[9902, 9262, 6085, 6364, 9736, 9585, 9761, 820..."
5,MarzoCompras-0303072019121014_00343,00270147,00740147,09740147,91.44,97.861250,"[9856, 9719, 9940, 9807, 9999, 9990, 9834, 9144]"
6,MarzoCompras-0303072019121017_00450,9900157,7900157,09900151,0.00,94.557143,"[8571, 7843, 9996, 9969, 9954, 9886, 9971]"
7,MarzoCompras-0303072019121017_00459,08482229,00482219,08482279,74.83,91.778750,"[9957, 9401, 9468, 7483, 9954, 9463, 8462, 9235]"
8,MarzoCompras-0303072019121018_00497,452775,452774,45279490,0.00,94.658333,"[9945, 9704, 9890, 9936, 9875, 7445]"
9,MarzoCompras-0303072019121018_00501,0533314,0523314,05333314,0.00,87.577143,"[5739, 9068, 9260, 9769, 9713, 7984, 9771]"
10,MarzoCompras-0303072019121019_00514,2715467700,0715467700,071546720,0.00,90.564000,"[9971, 9976, 9988, 9995, 8697, 8039, 9982, 863..."
11,MarzoCompras-0303072019121019_00540,738560322,733560322,73856082,0.00,85.513333,"[9928, 9750, 7096, 9946, 6740, 9380, 7383, 956..."
12,MarzoCompras-0303072019121019_00541,68361,61301,08281361,0.00,81.150000,"[5182, 7361, 9386, 8872, 9774]"
13,MarzoCompras-0303072019121021_00570,1057452,1057452,10594523,0.00,93.194286,"[9825, 9971, 9830, 5920, 9828, 9945, 9917]"
14,MarzoCompras-0303072019121021_00585,1,1,08661984,0.00,50.090000,[5009]
15,MarzoCompras-0303072019121023_00648,112765050,110700050,10748050,0.00,88.064444,"[7155, 7657, 8522, 9906, 7280, 9927, 9968, 926..."
16,MarzoCompras-0303072019121023_00651,10758050,10798050,10748050,55.13,88.135000,"[9363, 9984, 9997, 5937, 9837, 9971, 9906, 5513]"
17,MarzoCompras-0303072019121023_00652,70796052,10740057,10748050,72.20,90.696250,"[8373, 9939, 9975, 7227, 9900, 9989, 9934, 7220]"
18,MarzoCompras-0303072019121024_00709,77857,77557,73592248,0.00,69.850000,"[9559, 6692, 5703, 5890, 7081]"
19,MarzoCompras-0303072019121025_00771,4708183,4708103,47083183,0.00,93.747143,"[8529, 9989, 9998, 9244, 9918, 8520, 9425]"
20,MarzoCompras-0303072019121030_00931,51330637,41330637,41330637,85.90,97.356250,"[9789, 9997, 8590, 9750, 9955, 9908, 9938, 9958]"
21,MarzoCompras-0303072019121032_00998,16145220,16145220,161145220,70.78,94.698750,"[9621, 9907, 9986, 9819, 9978, 9960, 9410, 7078]"
22,MarzoCompras-0303072019125009_00002,7742752,7112750,71112750,0.00,97.621429,"[9958, 9415, 9796, 9887, 9950, 9810, 9519]"
23,MarzoCompras-0303072019125011_00105,5424213,4424510,44243513,0.00,93.088571,"[9912, 9986, 9853, 9741, 8177, 9282, 8211]"
24,MarzoCompras-0303072019125012_00121,4201226,4291226,42914226,0.00,79.557143,"[9491, 9662, 6104, 8553, 8097, 6696, 7087]"
25,MarzoCompras-0303072019125012_00123,8688845,0688043,08688843,0.00,97.017143,"[9002, 9980, 9807, 9801, 9680, 9881, 9761]"
26,MarzoCompras-0303072019125013_00187,44565125,14705112,44765113,58.12,88.387500,"[8967, 9837, 9932, 9494, 9975, 9927, 6766, 5812]"
27,MarzoCompras-0303072019125013_00196,77239287,77237207,72239287,62.70,88.323750,"[9872, 7336, 9595, 9941, 7818, 9868, 6270, 9959]"
28,MarzoCompras-0303072019125013_00206,74673273,74173077,714123873,69.27,92.027500,"[9897, 9601, 8940, 8916, 9580, 9819, 9942, 6927]"
29,MarzoCompras-0303072019125015_00264,06263642,06163612,06163611,89.25,97.757500,"[9970, 9954, 8925, 9971, 9936, 9957, 9840, 9653]"
...,...,...,...,...,...,...,...
3129,MarzoCompras_XM_B5_20190710134528_00365,46177494,46177474,46177494,70.33,87.150000,"[9404, 9887, 8737, 7982, 9968, 7033, 8074, 8635]"
3130,MarzoCompras_XM_B5_20190710134534_00496,72751535,42751535,42751535,74.27,90.508750,"[9608, 9802, 9919, 8177, 7427, 8771, 9450, 9253]"
3131,MarzoCompras_XM_B5_20190710134536_00590,04737544,07737544,01137544,63.84,92.732500,"[9974, 6384, 8798, 9147, 9994, 9972, 9967, 9950]"
3132,MarzoCompras_XM_B5_20190710134537_00597,16692655,16657657,16697659,67.59,93.503750,"[9414, 9933, 9964, 9762, 9090, 9978, 9903, 6759]"
3133,MarzoCompras_XM_B5_20190710134537_00607,16693655,16697655,16697655,85.46,95.237500,"[9346, 9848, 9978, 8546, 9462, 9791, 9763, 9456]"
3134,MarzoCompras_XM_B5_20190710134538_00628,710206152,710206157,10206157,0.00,93.342222,"[5026, 9814, 9972, 9808, 9931, 9834, 9752, 991..."
3135,MarzoCompras_XM_B5_20190710134539_00654,4942646,4047646,41942646,0.00,88.877143,"[8452, 9919, 7644, 8512, 9951, 8519, 9217]"
3136,MarzoCompras_XM_B5_20190710134539_00656,5942646,0047646,41942646,0.00,88.597143,"[6123, 9896, 9340, 8192, 9881, 9223, 9363]"
3137,MarzoCompras_XM_B5_20190710134548_00802,723309,702304,7033301,0.00,92.335000,"[9866, 9624, 6830, 9478, 9916, 9687]"
3138,MarzoCompras_XM_B5_20190710134548_00811,08821636,08021636,08021636,83.71,94.977500,"[9981, 9653, 9120, 8371, 9591, 9494, 9820, 9952]"
3139,MarzoCompras_XM_B5_20190710134549_00856,0654270,0051270,06542290,0.00,88.374286,"[9914, 8092, 9964, 5718, 8671, 9815, 9688]"
3140,MarzoCompras_XM_B5_20190710134551_00897,403360257,403360257,40336025,0.00,91.216667,"[9654, 9937, 7858, 9933, 9973, 9945, 9861, 987..."
3141,MarzoCompras_XM_B5_20190710150302_00014,09235896,09285876,09285896,77.71,92.851250,"[9766, 7771, 9944, 8848, 9818, 9344, 9773, 9017]"
3142,MarzoCompras_XM_B5_20190710150304_00067,75542734,75542734,75542734,90.04,98.430000,"[9973, 9004, 9985, 9904, 9950, 9981, 9973, 9974]"
3143,MarzoCompras_XM_B5_20190710150306_00166,46896046,16006046,46896096,53.62,85.323750,"[9379, 6406, 9423, 8371, 9962, 9983, 5362, 9373]"
3144,MarzoCompras_XM_B5_20190710150308_00203,77744013,77744013,77744013,76.07,89.161250,"[9616, 8722, 9292, 9378, 8748, 9372, 8594, 7607]"
3145,MarzoCompras_XM_B5_20190710150308_00204,068074,060014,06801145,0.00,90.401667,"[9899, 9956, 7818, 9980, 9876, 6712]"
3146,MarzoCompras_XM_B5_20190710150308_00238,23660029,73060670,73060679,50.70,91.708750,"[9825, 9867, 9893, 9318, 9830, 9578, 9986, 5070]"
3147,MarzoCompras_XM_B5_20190710150312_00355,27982742,27780142,27988142,72.40,92.123750,"[9545, 9873, 9886, 9890, 7240, 7702, 9849, 9714]"
3148,MarzoCompras_XM_B5_20190710150312_00360,5186803,4106803,41868037,0.00,95.288571,"[9592, 9868, 9516, 9925, 9658, 9922, 8221]"
3149,MarzoCompras_XM_B5_20190710150317_00473,249882,077882,27988142,0.00,96.936667,"[9710, 9948, 9647, 9915, 9030, 9912]"
3150,MarzoCompras_XM_B5_20190710150320_00551,0154032942,0101050740,0181039940,0.00,93.283000,"[9895, 9959, 9787, 9917, 9955, 6734, 9112, 990..."
3151,MarzoCompras_XM_B5_20190710150321_00599,80064626,80024626,80064626,65.45,86.065000,"[9421, 8508, 7500, 7370, 6545, 9927, 9917, 9664]"
3152,MarzoCompras_XM_B5_20190710150322_00609,71916865,71916005,71916965,50.22,81.995000,"[9929, 8978, 7682, 9836, 9802, 5022, 7051, 7296]"
3153,MarzoCompras_XM_B5_20190710150330_00766,40555762,40557762,40557762,82.01,95.427500,"[9874, 9984, 9919, 9492, 8201, 9960, 9146, 9766]"
3154,MarzoCompras_XM_B5_20190710150330_00774,215903100,115703100,15703100,0.00,94.541111,"[6510, 9160, 9812, 9960, 9989, 9766, 9916, 999..."
3155,MarzoCompras_XM_B5_20190710150332_00842,43560157,42560150,43560150,76.46,91.590000,"[9769, 9640, 9946, 9388, 9941, 9118, 7646, 7824]"
3156,MarzoCompras_XM_B5_20190710150332_00855,17571752,17571757,17541457,86.48,94.637500,"[8648, 9957, 9475, 8917, 9732, 9282, 9852, 9847]"
3157,MarzoCompras_XM_B5_20190710150334_00907,07028777,07028777,09628779,79.60,94.926250,"[9441, 7960, 9109, 9678, 9907, 9963, 9970, 9913]"
3158,MarzoCompras_XM_B5_20190710150336_00953,4455606,4455606,44556806,0.00,91.801429,"[8770, 9834, 9976, 9836, 5986, 9910, 9949]"

In [22]:
total_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean','acerts_dni']]
total_dni = total_dni[total_dni.dni_yolo.apply(len)==total_dni.DNI_y.apply(len)]
total_dni['trues_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)<9500).sum())
total_dni['falses_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)>=9500).sum())
total_dni['trues_real'] = np_aciertos_from_str(total_dni['DNI_y'],total_dni['dni_yolo'])
total_dni['falses_real'] = total_dni['DNI_y'].apply(len) - total_dni['trues_real']
total_dni.head()

,NombreArchivo,DNI_x,dni_yolo,DNI_y,AcertividadDNI,acert_dni_mean,acerts_dni,trues_est,falses_est,trues_real,falses_real
2,MarzoCompras-0303072019121007_00025,04015560,04015000,04015880,60.25,88.40500,"[8678, 6025, 9630, 7339, 9627, 9851, 9654, 9920]",3,5,6,2
5,MarzoCompras-0303072019121014_00343,00270147,00740147,09740147,91.44,97.86125,"[9856, 9719, 9940, 9807, 9999, 9990, 9834, 9144]",1,7,7,1
7,MarzoCompras-0303072019121017_00459,08482229,00482219,08482279,74.83,91.77875,"[9957, 9401, 9468, 7483, 9954, 9463, 8462, 9235]",6,2,6,2
16,MarzoCompras-0303072019121023_00651,10758050,10798050,10748050,55.13,88.13500,"[9363, 9984, 9997, 5937, 9837, 9971, 9906, 5513]",3,5,7,1
17,MarzoCompras-0303072019121023_00652,70796052,10740057,10748050,72.20,90.69625,"[8373, 9939, 9975, 7227, 9900, 9989, 9934, 7220]",3,5,6,2

In [13]:
total_dni['trues_est'].sum(), total_dni['falses_est'].sum(), total_dni['trues_real'].sum(), total_dni['falses_real'].sum()

(5265, 7687, 9891, 3061)

In [122]:
for i in range(8000, 10000, 100):
    total_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean','acerts_dni']]
    total_dni = total_dni[total_dni.dni_yolo.apply(len)==total_dni.DNI_y.apply(len)]
    total_dni['trues_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)<i).sum())
    total_dni['falses_est'] = total_dni['acerts_dni'].apply(lambda x : (np.array(x)>=i).sum())
    total_dni['trues_real'] = np_aciertos_from_str(total_dni['DNI_y'],total_dni['dni_yolo'])
    total_dni['falses_real'] = total_dni['DNI_y'].apply(len) - total_dni['trues_real']
    te, fe, tr, fr = total_dni['trues_est'].sum(), total_dni['falses_est'].sum(), total_dni['trues_real'].sum(), total_dni['falses_real'].sum()
    # print('{} se tiene {} {} {} {}'.format(i/100, te, fe, tr, fr))
    print('{} se tiene {} {} {} {}'.format(i/100, round(te/(fr+tr),2), round(fe/(fr+tr),2), round(tr/(fr+tr),2), round(fr/(fr+tr),2)))

80.0 se tiene 0.14 0.86 0.76 0.24
81.0 se tiene 0.15 0.85 0.76 0.24
82.0 se tiene 0.16 0.84 0.76 0.24
83.0 se tiene 0.17 0.83 0.76 0.24
84.0 se tiene 0.18 0.82 0.76 0.24
85.0 se tiene 0.19 0.81 0.76 0.24
86.0 se tiene 0.21 0.79 0.76 0.24
87.0 se tiene 0.22 0.78 0.76 0.24
88.0 se tiene 0.24 0.76 0.76 0.24
89.0 se tiene 0.26 0.74 0.76 0.24
90.0 se tiene 0.27 0.73 0.76 0.24
91.0 se tiene 0.29 0.71 0.76 0.24
92.0 se tiene 0.31 0.69 0.76 0.24
93.0 se tiene 0.34 0.66 0.76 0.24
94.0 se tiene 0.37 0.63 0.76 0.24
95.0 se tiene 0.41 0.59 0.76 0.24
96.0 se tiene 0.45 0.55 0.76 0.24
97.0 se tiene 0.51 0.49 0.76 0.24
98.0 se tiene 0.59 0.41 0.76 0.24
99.0 se tiene 0.72 0.28 0.76 0.24

In [125]:
param_dni = total[['NombreArchivo','DNI_x','DNI_y','AcertividadDNI','acert_dni_mean']]

param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=84,param_dni.DNI_x.apply(len)==8), 1, 0)
param_dni['trues_real'] = np.where(param_dni['DNI_x']==param_dni['DNI_y'], 1, 0)
# param_dni['sta'] = np.where(param_dni['trues_est']==param_dni['trues_real'],'acierto',
                            # np.where(param_dni['trues_est']==1, 'Falso positivo', 'Verdadero negativo'))
    
# te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
param_dni

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,NombreArchivo,DNI_x,DNI_y,AcertividadDNI,acert_dni_mean,trues_est,trues_real
0,MarzoCompras-0303072019121007_00008,00622766,000672966,93.76,97.308750,1,0
1,MarzoCompras-0303072019121007_00010,0580806,09888016,0.00,77.671429,0,0
2,MarzoCompras-0303072019121007_00025,04015000,04015880,60.25,88.405000,0,0
3,MarzoCompras-0303072019121013_00265,031027,09310742,0.00,75.090000,0,0
4,MarzoCompras-0303072019121014_00331,082817622,08281360,0.00,84.056667,0,0
5,MarzoCompras-0303072019121014_00343,00740147,09740147,91.44,97.861250,1,0
6,MarzoCompras-0303072019121017_00450,9900157,09900151,0.00,94.557143,0,0
7,MarzoCompras-0303072019121017_00459,00482229,08482279,74.83,91.778750,0,0
8,MarzoCompras-0303072019121018_00497,452775,45279490,0.00,94.658333,0,0
9,MarzoCompras-0303072019121018_00501,0533314,05333314,0.00,87.577143,0,0
10,MarzoCompras-0303072019121019_00514,0715467700,071546720,0.00,90.564000,0,0
11,MarzoCompras-0303072019121019_00540,738560322,73856082,0.00,85.513333,0,0
12,MarzoCompras-0303072019121019_00541,68361,08281361,0.00,81.150000,0,0
13,MarzoCompras-0303072019121021_00570,1057452,10594523,0.00,93.194286,0,0
14,MarzoCompras-0303072019121021_00585,1,08661984,0.00,50.090000,0,0
15,MarzoCompras-0303072019121023_00648,112760050,10748050,0.00,88.064444,0,0
16,MarzoCompras-0303072019121023_00651,10758050,10748050,55.13,88.135000,0,0
17,MarzoCompras-0303072019121023_00652,70790052,10748050,72.20,90.696250,0,0
18,MarzoCompras-0303072019121024_00709,77857,73592248,0.00,69.850000,0,0
19,MarzoCompras-0303072019121025_00771,4708183,47083183,0.00,93.747143,0,0
20,MarzoCompras-0303072019121030_00931,41330637,41330637,85.90,97.356250,1,1
21,MarzoCompras-0303072019121032_00998,16145220,161145220,70.78,94.698750,0,0
22,MarzoCompras-0303072019125009_00002,7112750,71112750,0.00,97.621429,0,0
23,MarzoCompras-0303072019125011_00105,4424213,44243513,0.00,93.088571,0,0
24,MarzoCompras-0303072019125012_00121,4201226,42914226,0.00,79.557143,0,0
25,MarzoCompras-0303072019125012_00123,8688043,08688843,0.00,97.017143,0,0
26,MarzoCompras-0303072019125013_00187,44705125,44765113,58.12,88.387500,0,0
27,MarzoCompras-0303072019125013_00196,77239287,72239287,62.70,88.323750,0,0
28,MarzoCompras-0303072019125013_00206,74673073,714123873,69.27,92.027500,0,0
29,MarzoCompras-0303072019125015_00264,06263612,06163611,89.25,97.757500,1,0
...,...,...,...,...,...,...,...
3129,MarzoCompras_XM_B5_20190710134528_00365,46177494,46177494,70.33,87.150000,0,1
3130,MarzoCompras_XM_B5_20190710134534_00496,42751535,42751535,74.27,90.508750,0,1
3131,MarzoCompras_XM_B5_20190710134536_00590,04737544,01137544,63.84,92.732500,0,0
3132,MarzoCompras_XM_B5_20190710134537_00597,16652655,16697659,67.59,93.503750,0,0
3133,MarzoCompras_XM_B5_20190710134537_00607,16697655,16697655,85.46,95.237500,1,1
3134,MarzoCompras_XM_B5_20190710134538_00628,710206157,10206157,0.00,93.342222,0,0
3135,MarzoCompras_XM_B5_20190710134539_00654,4042646,41942646,0.00,88.877143,0,0
3136,MarzoCompras_XM_B5_20190710134539_00656,5042646,41942646,0.00,88.597143,0,0
3137,MarzoCompras_XM_B5_20190710134548_00802,703304,7033301,0.00,92.335000,0,0
3138,MarzoCompras_XM_B5_20190710134548_00811,08821636,08021636,83.71,94.977500,0,0
3139,MarzoCompras_XM_B5_20190710134549_00856,0654270,06542290,0.00,88.374286,0,0
3140,MarzoCompras_XM_B5_20190710134551_00897,403360257,40336025,0.00,91.216667,0,0
3141,MarzoCompras_XM_B5_20190710150302_00014,09235876,09285896,77.71,92.851250,0,0
3142,MarzoCompras_XM_B5_20190710150304_00067,75542734,75542734,90.04,98.430000,1,1
3143,MarzoCompras_XM_B5_20190710150306_00166,46096046,46896096,53.62,85.323750,0,0
3144,MarzoCompras_XM_B5_20190710150308_00203,77744013,77744013,76.07,89.161250,0,1
3145,MarzoCompras_XM_B5_20190710150308_00204,068014,06801145,0.00,90.401667,0,0
3146,MarzoCompras_XM_B5_20190710150308_00238,73060679,73060679,50.70,91.708750,0,1
3147,MarzoCompras_XM_B5_20190710150312_00355,27782742,27988142,72.40,92.123750,0,0
3148,MarzoCompras_XM_B5_20190710150312_00360,4106803,41868037,0.00,95.288571,0,0
3149,MarzoCompras_XM_B5_20190710150317_00473,077882,27988142,0.00,96.936667,0,0
3150,MarzoCompras_XM_B5_20190710150320_00551,0101032740,0181039940,0.00,93.283000,0,0
3151,MarzoCompras_XM_B5_20190710150321_00599,80064626,80064626,65.45,86.065000,0,1
3152,MarzoCompras_XM_B5_20190710150322_00609,71916865,71916965,50.22,81.995000,0,0
3153,MarzoCompras_XM_B5_20190710150330_00766,40555762,40557762,82.01,95.427500,0,0
3154,MarzoCompras_XM_B5_20190710150330_00774,215703100,15703100,0.00,94.541111,0,0
3155,MarzoCompras_XM_B5_20190710150332_00842,42560157,43560150,76.46,91.590000,0,0
3156,MarzoCompras_XM_B5_20190710150332_00855,17571757,17541457,86.48,94.637500,1,0
3157,MarzoCompras_XM_B5_20190710150334_00907,07028777,09628779,79.60,94.926250,0,0
3158,MarzoCompras_XM_B5_20190710150336_00953,4455606,44556806,0.00,91.801429,0,0

In [123]:
for i in range(70, 100, 1):
    param_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean']]
    # param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
    param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=i,param_dni.dni_yolo.apply(len)==8), 1, 0)
    param_dni['trues_real'] = np.where(param_dni['DNI_x']==param_dni['DNI_y'], 1, 0)
    
    param_dni['sta'] = np.where(param_dni['trues_est']==param_dni['trues_real'],'acierto',
                               np.where(param_dni['trues_est']==1, 'Falso positivo', 'Verdadero negativo'))
    
    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

70 se tiene 0.3 0.13
71 se tiene 0.28 0.13
72 se tiene 0.27 0.13
73 se tiene 0.26 0.13
74 se tiene 0.25 0.13
75 se tiene 0.24 0.13
76 se tiene 0.22 0.13
77 se tiene 0.21 0.13
78 se tiene 0.2 0.13
79 se tiene 0.19 0.13
80 se tiene 0.18 0.13
81 se tiene 0.17 0.13
82 se tiene 0.16 0.13
83 se tiene 0.15 0.13
84 se tiene 0.13 0.13
85 se tiene 0.12 0.13
86 se tiene 0.11 0.13
87 se tiene 0.1 0.13
88 se tiene 0.09 0.13
89 se tiene 0.07 0.13
90 se tiene 0.06 0.13
91 se tiene 0.05 0.13
92 se tiene 0.05 0.13
93 se tiene 0.04 0.13
94 se tiene 0.03 0.13
95 se tiene 0.02 0.13
96 se tiene 0.01 0.13
97 se tiene 0.01 0.13
98 se tiene 0.0 0.13
99 se tiene 0.0 0.13

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [134]:
param_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean']]
# param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
param_dni['trues_est'] = np.where(np.logical_and(param_dni['AcertividadDNI']>=97,param_dni.dni_yolo.apply(len)==8), 1, 0)
# param_dni['trues_est'] = np.where(np.logical_and(param_dni['acert_dni_mean']>=90,param_dni.dni_yolo.apply(len)==8), 1, 0)
param_dni['trues_real'] = np.where(param_dni['dni_yolo']==param_dni['DNI_y'], 1, 0)
# print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))
pd.crosstab(param_dni['trues_est'],param_dni['trues_real'])

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

trues_real     0    1
trues_est
0           2806  324
1             13   16

In [135]:
norm = pd.crosstab(param_dni['trues_est'],param_dni['trues_real'],normalize=True)
np.round(norm * 100,2)

trues_real      0      1
trues_est
0           88.83  10.26
1            0.41   0.51

In [57]:
for i in range(80, 100, 1):
    param_dni = total[['NombreArchivo','DNI_x','dni_yolo','DNI_y','AcertividadDNI','acert_dni_mean']]
    # param_dni = param_dni[param_dni.dni_yolo.apply(len)==8]
    param_dni['trues_est'] = np.where(np.logical_and(param_dni['acert_dni_mean']>=i,param_dni.dni_yolo.apply(len)==8), 1, 0)
    param_dni['trues_real'] = np.where(param_dni['dni_yolo']==param_dni['DNI_y'], 1, 0)

    te, tr, tt = param_dni['trues_est'].sum(), param_dni['trues_real'].sum(), param_dni['trues_real'].values.size
    # print('{} se tiene {} {} {}'.format(i, te, tr, tt))
    print('{} se tiene {} {}'.format(i, round(te/(tt),2), round(tr/(tt),2)))

80 se tiene 0.51 0.11
81 se tiene 0.5 0.11
82 se tiene 0.5 0.11
83 se tiene 0.49 0.11
84 se tiene 0.48 0.11
85 se tiene 0.47 0.11
86 se tiene 0.45 0.11
87 se tiene 0.44 0.11
88 se tiene 0.42 0.11
89 se tiene 0.39 0.11
90 se tiene 0.36 0.11
91 se tiene 0.33 0.11
92 se tiene 0.28 0.11
93 se tiene 0.24 0.11
94 se tiene 0.2 0.11
95 se tiene 0.15 0.11
96 se tiene 0.11 0.11
97 se tiene 0.06 0.11
98 se tiene 0.03 0.11
99 se tiene 0.01 0.11

C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\GYS\AppData\Local\conda\conda\envs\tfkeras\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
str_test = total[['LocalJsonOCR']].iloc[0,:].values[0]

In [27]:
json.loads(str_test)

{'dni_cnn': {'value': '00622926'},
 'telefono_cnn': {'value': '48236'},
 'dni_yolo': {'values': [0, 0, 6, 7, 2, 7, 6, 6],
  'scores': [9918, 9957, 9851, 9376, 9971, 9601, 9767, 9406],
  'boxes': [[17, 34, 60, 61],
   [16, 68, 55, 94],
   [17, 98, 53, 122],
   [14, 125, 52, 149],
   [11, 158, 53, 188],
   [1, 192, 57, 222],
   [3, 228, 53, 257],
   [6, 264, 50, 292]]},
 'telefono_yolo': {'values': [7, 0, 7, 2, 0],
  'scores': [8094, 9840, 9915, 9383, 8902],
  'boxes': [[6, 21, 48, 59],
   [6, 67, 49, 96],
   [0, 110, 42, 139],
   [0, 183, 44, 210],
   [5, 252, 48, 275]]}}

In [31]:
stringfy(json.loads(str_test)['dni_yolo']['values'])

'00672766'

### Azure

In [143]:
m3100_pro_azu = pd.read_csv('C:\\git\\cuponesWong\\CuponesWong\\notebooks_flow\\azure_result\\azure_result_muestra3100.csv', dtype={'DNI':str, 'Telefono':str})
m3100_pro_azu = m3100_pro_azu.fillna('')

In [144]:
m3100_pro_azu.head()

,NombreArchivo,DNI,AcertividadDNI,Telefono,AcertividadTelefono,NombreCompleto,AcertividadNombreCompleto,Direccion,AcertividadDireccion,Distrito,AcertividadDistrito,Correo,AcertividadCorreo,idCampania,idUsuario,idEstado
0,MarzoCompras-0303072019121007_00008,100672966,87.500000,98233140,85.0,rath,42.50,Av . Las Wauwtan # 246,86.875000,Chomilloy,85.000000,Karaujo710hohal,85.000000,3,1,2
1,MarzoCompras-0303072019121007_00010,09883016,85.000000,946498591,87.0,JUAN CARLOS SAlives AnDYA,86.25,AU. PERU N = 36 52,44.166667,SMP,90.000000,Mauricio2solSbHolmail.am,87.142857,3,1,2
2,MarzoCompras-0303072019121007_00025,04015880,87.500000,92848937,85.0,Jaime Roger Compos Benzospi,86.50,M Z H . LT. 12. HE. CAVIN DE HUONTAR.,86.904762,MILA EL SALVADOR.,86.666667,,0.000000,3,1,2
3,MarzoCompras-0303072019121013_00265,09310742,86.666667,985973705,85.0,Janet montero flores,86.00,Nelson Quia 415 A Opto 204,86.875000,Surco,85.000000,"Jalima9-yahoo,es",88.000000,3,1,2
4,MarzoCompras-0303072019121014_00331,08281361949352892,86.666667,949352892,87.0,howyo Morteness,42.50,? Joven nuevo news 14 7 + late I comite y,85.000000,Son Juan ducesamcris,85.000000,,0.000000,3,1,2

In [153]:
total_comp_azure.columns

Index(['NombreArchivo', 'DNI_x', 'AcertividadDNI', 'Telefono',
       'AcertividadTelefono', 'NombreCompleto', 'AcertividadNombreCompleto',
       'Direccion', 'AcertividadDireccion', 'Distrito', 'AcertividadDistrito',
       'Correo', 'AcertividadCorreo', 'idCampania', 'idUsuario', 'idEstado',
       'Unnamed: 0', 'nombre_archivo', 'DNI_y', 'telefono', 'Observación',
       'email', 'dni_lev_azure', 'tel_lev_azure'],
      dtype='object')

In [158]:
total_comp_azure = pd.merge(m3100_pro_azu, m3100_real, how='left', on='NombreArchivo')
total_comp_azure['dni_lev_azure'] = np_distance(total_comp_azure['DNI_x'],total_comp_azure['DNI_y'])
total_comp_azure['tel_lev_azure'] = np_distance(total_comp_azure['Telefono'],total_comp_azure['telefono'])
total_comp_azure['mail_lev_azure'] = np_distance(total_comp_azure['Correo'],total_comp_azure['email'])

In [159]:
total_comp_azure[['NombreArchivo','DNI_x','DNI_y','dni_lev_azure']].head()

,NombreArchivo,DNI_x,DNI_y,dni_lev_azure
0,MarzoCompras-0303072019121007_00008,100672966,000672966,1
1,MarzoCompras-0303072019121007_00010,09883016,09888016,1
2,MarzoCompras-0303072019121007_00025,04015880,04015880,0
3,MarzoCompras-0303072019121013_00265,09310742,09310742,0
4,MarzoCompras-0303072019121014_00331,08281361949352892,08281360,10

In [160]:
total_comp_azure[['NombreArchivo','Telefono','telefono','tel_lev_azure']].head()

                         NombreArchivo   Telefono   telefono  tel_lev_azure
0  MarzoCompras-0303072019121007_00008   98233140  982331400              1
1  MarzoCompras-0303072019121007_00010  946498591  946498597              1
2  MarzoCompras-0303072019121007_00025   92848937  928489578              2
3  MarzoCompras-0303072019121013_00265  985973705  985973705              0
4  MarzoCompras-0303072019121014_00331  949352892  949357892              1

In [168]:
total_comp_azure[['NombreArchivo','Correo','email','mail_lev_azure']][total_comp_azure.mail_lev_azure==1]

,NombreArchivo,Correo,email,mail_lev_azure
2,MarzoCompras-0303072019121007_00025,,-,1
19,MarzoCompras-0303072019121025_00771,angela.reinoso@Upch.pe,angela.reinoso@upch.pe,1
20,MarzoCompras-0303072019121030_00931,,-,1
24,MarzoCompras-0303072019125012_00121,,-,1
41,MarzoCompras-0303072019132555_00124,Pattychic_14.7@hotmail.com,Pattychic_14_7@hotmail.com,1
45,MarzoCompras-0303072019132602_00385,alegna-19192@hotmail.com,alegna_19192@hotmail.com,1
50,MarzoCompras-0303072019132606_00553,,-,1
51,MarzoCompras-0303072019132606_00564,,-,1
59,MarzoCompras-0303072019132617_00962,,-,1
61,MarzoCompras-0303072019132618_01004,renzorojasperu456@gmailcom,renzorojasperu456@gmail.com,1
80,MarzoCompras-0303072019160838_00971,,-,1
83,MarzoCompras-0303072019164214_00001,,-,1
89,MarzoCompras-0303072019164225_00499,,-,1
93,MarzoCompras-0303072019164229_00674,,-,1
94,MarzoCompras-0303072019164229_00675,,-,1
104,MarzoCompras_0202072019164448_00043,maicusi@hotmail.com,Maicusi@hotmail.com,1
105,MarzoCompras_0202072019164450_00086,,-,1
109,MarzoCompras_0202072019164454_00234,,-,1
130,MarzoCompras_0202072019182421_00327,,-,1
131,MarzoCompras_0202072019182422_00335,,-,1
132,MarzoCompras_0202072019182422_00336,dario-2203_19@hotmail.com,dario_2203_19@hotmail.com,1
155,MarzoCompras_0203072019122720_00364,,-,1
166,MarzoCompras_0203072019122734_00881,,-,1
172,MarzoCompras_0203072019130737_00134,diazmarin93@gmail.con,diazmarin93@gmail.com,1
194,MarzoCompras_AV_B3_20190705171112_00368,,-,1
195,MarzoCompras_AV_B3_20190705171114_00434,,-,1
196,MarzoCompras_AV_B3_20190705171118_00560,,-,1
200,MarzoCompras_AV_B3_20190705171124_00762,rojasaguirre@hotmail.com,rrojasaguirre@hotmail.com,1
219,MarzoCompras_AV_B3_20190705174257_00961,daniebolanos@gmail.com,daniebolanosc@gmail.com,1
220,MarzoCompras_AV_B3_20190705180843_00020,,-,1
...,...,...,...,...
2909,MarzoCompras_XM_B4_20190709095705_00903,,-,1
2919,MarzoCompras_XM_B5_20190709150923_00268,,-,1
2922,MarzoCompras_XM_B5_20190709150931_00499,,-,1
2924,MarzoCompras_XM_B5_20190709150933_00541,,-,1
2935,MarzoCompras_XM_B5_20190709154921_00041,ahonoresmagmail.com,ahonoresm@gmail.com,1
2946,MarzoCompras_XM_B5_20190709154944_00593,JENNY/61@HOTMAIL.COM,JENNY161@HOTMAIL.COM,1
2960,MarzoCompras_XM_B5_20190709163308_00210,widrogo-56@hotmail.com,widrogo_56@hotmail.com,1
2961,MarzoCompras_XM_B5_20190709163315_00437,EVI-LIBRA@HOTMAIL.COM,EVI_LIBRA@HOTMAIL.COM,1
2966,MarzoCompras_XM_B5_20190709171330_00050,Johnght@gmail.com,Johngbt@gmail.com,1
2970,MarzoCompras_XM_B5_20190709171342_00423,norabravot@gmail.com,norabrvot@gmail.com,1
2983,MarzoCompras_XM_B5_20190709180545_00045,mini-milagros@hotmail.com,mini_milagros@hotmail.com,1
3009,MarzoCompras_XM_B5_20190709190715_00169,steveen0921@hotmail.com,steveen0911@hotmail.com,1
3025,MarzoCompras_XM_B5_20190709190742_00912,,-,1
3028,MarzoCompras_XM_B5_20190710100533_00037,,-,1
3034,MarzoCompras_XM_B5_20190710100540_00254,alegna-19192@hotmail.com,alegna_19192@hotmail.com,1
3045,MarzoCompras_XM_B5_20190710100555_00686,divasdelvalle@hotmail.com,divosdelvalle@hotmail.com,1
3057,MarzoCompras_XM_B5_20190710103951_00599,jabasuarez@gmail.com,Jabasuarez@gmail.com,1
3068,MarzoCompras_XM_B5_20190710113158_00127,Kat2070Ohotmail.com,Kat2070@hotmail.com,1
3072,MarzoCompras_XM_B5_20190710113214_00443,,-,1
3077,MarzoCompras_XM_B5_20190710113223_00660,,-,1
3088,MarzoCompras_XM_B5_20190710113243_01134,rosa-ce96@hotmail.com,rosa_ce96@hotmail.com,1
3089,MarzoCompras_XM_B5_20190710122814_00048,,-,1
3092,MarzoCompras_XM_B5_20190710122818_00183,,-,1
3094,MarzoCompras_XM_B5_20190710122819_00207,,-,1
3111,MarzoCompras_XM_B5_20190710131703_00110,,-,1
3120,MarzoCompras_XM_B5_20190710131716_00382,,-,1
3133,MarzoCompras_XM_B5_20190710131746_00955,ashley_sa_0609@hotmail.com,ashley_sg_0609@hotmail.com,1
3136,MarzoCompras_XM_B5_20190710134517_00021,estefaniall6hotmail.com,estefaniall6@hotmail.com,1
3142,MarzoCompras_XM_B5_20190710134538_00628,,-,1
3151,MarzoCompras_XM_B5_20190710150306_00166,Christian.13.5@gmail.com,christian.13.5@gmail.com,1

In [165]:
lev_dni_azure = total_comp_azure.groupby(['dni_lev_azure']).agg({'NombreArchivo':'count'})
lev_dni_azure['porcentaje'] = np.round(lev_dni_azure['NombreArchivo'] * 100 / lev_dni_azure['NombreArchivo'].sum() , 2)
lev_dni_azure['cuenta'] = lev_dni_azure['NombreArchivo']
lev_dni_azure[['cuenta','porcentaje']]

               cuenta  porcentaje
dni_lev_azure
0                1651       52.25
1                 656       20.76
2                 231        7.31
3                  85        2.69
4                  38        1.20
5                  20        0.63
6                  13        0.41
7                  38        1.20
8                 247        7.82
9                  80        2.53
10                 39        1.23
11                 18        0.57
12                  3        0.09
13                  6        0.19
14                  4        0.13
15                  5        0.16
16                  4        0.13
17                  7        0.22
18                  7        0.22
19                  2        0.06
20                  2        0.06
21                  1        0.03
22                  1        0.03
26                  1        0.03
30                  1        0.03

In [166]:
lev_tel_azure = total_comp_azure.groupby(['tel_lev_azure']).agg({'NombreArchivo':'count'})
lev_tel_azure['porcentaje'] = np.round(lev_tel_azure['NombreArchivo'] * 100 / lev_tel_azure['NombreArchivo'].sum() , 2)
lev_tel_azure['cuenta'] = lev_tel_azure['NombreArchivo']
lev_tel_azure[['cuenta','porcentaje']]

               cuenta  porcentaje
tel_lev_azure
0                1705       53.96
1                 831       26.30
2                 311        9.84
3                 118        3.73
4                  51        1.61
5                  10        0.32
6                   9        0.28
7                  19        0.60
8                  13        0.41
9                  64        2.03
10                 11        0.35
11                  5        0.16
12                  4        0.13
13                  1        0.03
14                  1        0.03
17                  1        0.03
20                  1        0.03
22                  1        0.03
25                  1        0.03
28                  2        0.06
29                  1        0.03

In [167]:
lev_mail_azure = total_comp_azure.groupby(['mail_lev_azure']).agg({'NombreArchivo':'count'})
lev_mail_azure['porcentaje'] = np.round(lev_mail_azure['NombreArchivo'] * 100 / lev_mail_azure['NombreArchivo'].sum() , 2)
lev_mail_azure['cuenta'] = lev_mail_azure['NombreArchivo']
lev_mail_azure[['cuenta','porcentaje']]

                cuenta  porcentaje
mail_lev_azure
0                 1031       32.63
1                  426       13.48
2                  209        6.61
3                  213        6.74
4                  199        6.30
5                  153        4.84
6                  164        5.19
7                  118        3.73
8                  117        3.70
9                   98        3.10
10                  63        1.99
11                  57        1.80
12                  53        1.68
13                  45        1.42
14                  37        1.17
15                  21        0.66
16                  19        0.60
17                  22        0.70
18                  16        0.51
19                  16        0.51
20                  22        0.70
21                   9        0.28
22                  15        0.47
23                  10        0.32
24                   9        0.28
25                   7        0.22
26                   3        0.09
27                   1        0.03
28                   3        0.09
29                   2        0.06
30                   2        0.06